﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="BankPrint.aspx.cs" Inherits="app_print_BankPrint_BankPrint" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
</body>
</html>
