﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PaidWage.aspx.cs" Inherits="app_print_PaidWage_PaidWage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    
</body>
</html>
