﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true"
    CodeFile="list.aspx.cs" Inherits="list" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cnt" runat="Server">
    <asp:PlaceHolder runat="server" ID="mHolder" />
    <script language="javascript">
        //$(function () {
        //    setTimeout(alert($('#bar').text), 4);
           
        //   // $(document).attr("title", ' lkjlk');
        //});
</script>
</asp:Content>


