﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="Price.aspx.cs" Inherits="Price" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cnt" Runat="Server">
    <div style="margin:50px auto;text-align:center;"><h1>این صفحه در حال طراحی می باشد. لطفا بعدا مراجعه فرمائید</h1></div>
</asp:Content>

