﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="showreport.aspx.cs" Inherits="showreport" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="styles/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div dir=rtl class=report>
        <asp:PlaceHolder runat="server" ID="mHolder" />
    </div>
    </form>
</body>
</html>
