﻿<%@ Page Title="" Language="C#" MasterPageFile="~/print/PrintMaster.master" AutoEventWireup="true" CodeFile="voucher.aspx.cs" Inherits="print_voucher" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="CP1" runat="Server">    
    <asp:PlaceHolder runat="server" ID="mPlaceHolder"></asp:PlaceHolder>
</asp:Content>

