﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../js/jquery-1.4.1-vsdoc.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/JsFarsiCalendar.js"></script>
    <script src="../js/site.js"></script>
</head>
<body>
    <div class="container">
        <div id="image-list" class="row padding-10-top image-list">
        </div>
        <div class="row">
            <div class="col-xs-12 margin-0-right">
                <div id="uploader">
                    <noscript>
                        <p>Lang.EnableJavascript</p>
                    </noscript>
                </div>
            </div>
        </div>
    </div>
    <script id="service-image-template" type="text/x-handlebars-template">
        <div class="col-xs-12 col-md-3">
            <div class="thumbnail">
                <a href="{{MainImage}}" target="_blank">
                    <img src="{{ThumbImage}}" alt="" />
                </a>
                <a href="#" class="btn btn-sm btn-danger btn-block margin-5-top remove-image">
                    <span class="glyphicon glyphicon-trash"></span>
                    {{t "ColDel" }}
                </a>
            </div>
        </div>
    </script>
    <script src="js/fileuploader.js"></script>
    <script>
        $(document).ready(function() {
            var advertisementId = +"@ID";
            var images = new app.Collections.AdvertisementImageList([], { id: advertisementId });
            var imagesView = new app.Views.AdvertisementImageListView({ collection: images, el: "#image-list" });

            // Create an uploader
            var uploader = new qq.FileUploader({
                element: document.getElementById("uploader"),
                action: "AdvertisemenImageUpload.ashx",
                uploadButtonText: Lang.UploadFile,
                allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                onComplete: function(id, fileName, responseJSON) {
                    var li = $("li span:contains('" + fileName + "')").parent();
                    if (li) {
                        window.setTimeout(function() {
                            li.fadeOut(1500);
                            li.remove();
                        }, 2000);
                    }

                    images.add(new app.Models.AdvertisementImage(responseJSON.model));
                },
                params: {
                    advertisementId: advertisementId
                }
            });

            images.fetch();
        });
    </script>
</body>
</html>
