﻿<a href="<%= rootPath %>Default.aspx">خانه</a>
<span class='breadcrumb-seperator'>
<img src="<%= rootPath %>img/dummy.png" />
</span>
<a href="<%= pageInfo.parentUrl %>"><%= pageInfo.parentTitle %></a>
<span class='breadcrumb-seperator'>
<img src="<%= rootPath %>img/dummy.png" />
</span>
<span><%= pageInfo.pageTitle %></span>