{{options.cssClass}} {
  background-image: url({{{spritesheet.escaped_image}}});
}

{{#items}}
{{class}} {
  background-position: {{px.offset_x}} {{px.offset_y}};
  width: {{px.width}};
  height: {{px.height}};
}
{{/items}}