﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="js/jquery-1.4.1-vsdoc.js" language="javascript" type="text/javascript"></script>
    <script src="js/plugins.js" language="javascript" type="text/javascript"></script>
    <script src="js/JsFarsiCalendar.js" type="text/javascript" language="JavaScript"></script>
    <script src="js/shortcut.js" language="javascript" type="text/javascript"></script>
     <script src="js/lang/fa.js" language="javascript" type="text/javascript"></script>
    <link href="styles/style.css" rel="stylesheet" type="text/css" />
    <link href="styles/flexigrid.pack.css" rel="stylesheet" type="text/css" />
    <link href="styles/formly.css" rel="stylesheet" type="text/css" />
    <link href="styles/impromptu.css" rel="stylesheet" type="text/css" />
    <link href="styles/jquery.autocomplete.css" rel="stylesheet" type="text/css" />
    <link href="styles/calendar.css" rel="stylesheet" type="text/css" />
    <link href="styles/tabs.css" rel="stylesheet" type="text/css" />
    <link href="styles/messagebar.css" rel="stylesheet" type="text/css" />
    <link href="styles/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
    <link href="styles/jkmegamenu.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div style='margin: 0px auto 3px auto; text-align: center'>
            <img src='img/logoright.png' />
        </div>
    <div class='main'>
        <div style='width:100%'>
            <div style='margin: 0px auto 0px auto; width: 456px; height: 522px; padding: 0px;direction: rtl;'>
                <div style='background-image: url(img/login.gif); background-repeat: no-repeat; border: solid 0px red;
                    padding: 0px; margin: 0 auto; width: 456px; height: 522px'>
                    <div id="detailFor1m" style='padding-top: 220px; padding-right: 40px'>
                        <label for='mUsername' style='display: inline-block; min-width: 50px; text-align: left;'>Lang.Username</label>
                        <asp:TextBox runat="server" ID="mUsername" CssClass="round2" MaxLength="20" />
                        <br />
                        <label for='mPassword' style='display: inline-block; min-width: 50px; text-align: left;'>Lang.Password</label>
                        <asp:TextBox runat="server" ID="mPassword" TextMode="Password" CssClass="round2" MaxLength="15" />
                        <br />
                        <label for='mDBs' style='display: inline-block; min-width: 50px; text-align: left;'>Lang.DataBase</label>
                        <asp:DropDownList runat="server" ID="mDBs" CssClass="round2" style='display: inline-block; min-width: 100px; text-align: left;'>
                        </asp:DropDownList>
                        <label for='mLangs' style='display: inline-block; min-width: 10px; text-align: left;'>Lang.Language</label>
                        <asp:DropDownList runat="server" ID="mLangs" CssClass="round2" style='display: inline-block; min-width: 100px; text-align: left;'>
                        </asp:DropDownList>
                        <asp:Button runat="server" ID="doLogin" OnClick="doLogin_Click" Text='Lang.Login' CssClass="round2">
                        </asp:Button>
                        <br />
                        <asp:Label runat="server" ID="mMsg" ForeColor="red"></asp:Label>
                        <br />
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="footer">
            <b>
                <label>Lang.CopyrightNotice1</label>
                <a href="http://www.jpco.ir/">
                    <label>Lang.JahanPaywand</label>
                </a>
                <label>Lang.CopyrightNotice2</label>
            </b>
        </div>
    </div>
    </form>
</body>
</html>
