﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id='bar'>
        <div class="filter-container">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 form-group-container">
            <div class="form-group">
                <label for="SearchType" class="left-aligned-label control-label col-xs-12 col-one">Lang.Search</label>
                <div class="col-xs-12 col-eleven form-col-without-padding">
                    <select id="SearchType" class="chosen-select chosen-rtl">
                        <option value="1">Lang.Service</option>
                        <option value="0">Lang.Persons</option>
                        <option value="2">Lang.Supplier</option>
                        <option value="3">Lang.Visitor</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 form-group-container">
            <div class="form-group">
                <div class="col-xs-12 col-one">&nbsp;</div>
                <div class="col-xs-12 col-eleven form-col-without-padding">
                    <div class="col-xs-12 col-without-padding">
                        <ol class="breadcrumb" id="breadcrumb"></ol>
                    </div>
                    <div class="col-xs-12 col-without-padding">
                        <div class="browsediv" id="subgroups-container">
                            <h6 class="page-title yekan-family">Lang.AvailableGroups</h6>
                            <div id="subgroups"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-without-padding">
                        <div class="browsediv padding-0">
                            <table id="flexi"></table>
                            <div id="members"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="tag-template" type="text/x-handlebars-template">
        <a href="{{ ID }}" class="tag">
            <span class="tag-name">{{ Title }}</span><span class="tag-count">{{ NumMembers}}</span>
        </a>
    </script>
</body>
</html>
