﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="../js/jquery-1.4.1-vsdoc.js" language="javascript" type="text/javascript"></script>
    <script src="../js/plugins.js" language="javascript" type="text/javascript"></script>
    <script src="../js/JsFarsiCalendar.js" type="text/javascript" language="JavaScript"></script>
    <script src="../js/site.js" language="javascript" type="text/javascript"></script>
</head>
<body>
    <div class='popupTitle'>Lang.Roles</div>
    <div class="container">
        <form id="detailForm">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 form-group-container">
                    <div class="form-group">
                        <input type="hidden" id="ID" name="ID" value="@ID" />
                        <label for="Title" class="left-aligned-label control-label col-xs-12 col-sm-4">Lang.Title</label>
                        <div class="col-xs-12 col-sm-8 form-col-without-padding">
                            <input type="text" id="Title" name="Title" value="@Title" class="form-control input-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group-container">
                    <div class="form-group">
                        <div class="col-xs-12 form-col-without-padding">
                            <label>
                                <span class="control-label left-aligned-label padding-0-left padding-0-right">Lang.OnlyCurDay</span>
                                <input type="checkbox" id="OnlyCurDay" name="OnlyCurDay" v="@OnlyCurDay" class="ios-switch" />
                                <div class="switch"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group-container">
                    <div class="form-group">
                        <div class="col-xs-12 form-col-without-padding">
                            <label>
                                <span class="control-label left-aligned-label padding-0-left padding-0-right">Lang.ChooseAll</span>
                                <input type="checkbox" id="all" name="all" v="@all" class="ios-switch all" />
                                <div class="switch"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="dashed-bottom padding-1-bottom yekan-family"></h5>

            <ul class="tabs">
                <li><a href="#tab">Lang.Management</a></li>
            </ul>
            <div class="tab_container allContainer">
                <div id='tab1' class='tab_content'>
                </div>
                <!--Content-->
            </div>
            <br />
            <br />
            <input type="hidden" value='@Access' id="Access" name="Access" />
        </form>
    </div>
    <script id="access-list-form" type="text/x-handlebars-template">
        <div class="panel panel-info accesspanel">
            <!--<div class="panel-heading">
                <input type="checkbox" id="{{id}}" class="sub" />
                <label for="{{id}}">{{title}}</label>
            </div>-->
            <div class="panel-body accesspanel-body">
                <div class="row">
                    {{#each items}}
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <input type="checkbox" id="{{Ename}}_{{NameE}}" name="{{Ename}}_{{NameE}}" />
                            <label for="{{Ename}}_{{NameE}}">{{NameP}}</label>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </script>
</body>
</html>
