﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Refuse.aspx.cs" Inherits="app_print_Refuse" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/styles/bmitra.css" />
</head>
<body>
</body>
</html>
