﻿body {
    font-family: 'BYekan';
    font-size: 12px;
}

.sectitle {
    color: #47a5ad;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
}
.section
{
    border: solid 1px #ccc; 
    margin: 10px; 
    padding: 10px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.value {
    color: #777777;
}

.left-aligned-label {
    color: #c92f31;
}
.form-group
{
    margin-bottom:5px;
}
.full
{
    width:100%;
}
.basketitem
{
    background-color:#f2f2f2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 1px 0px #fff;
    -moz-box-shadow: 0px 1px 0px #fff;
    -webkit-box-shadow: 0px 1px 0px #fff;
    margin-top: 10px;
}
.form-col-without-padding
{
    padding:0px;
}