﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AccountsFilter.ascx.cs" Inherits="controls_AccountsFilter" %>
<asp:UpdatePanel ID="UpdatePanel1" runat="server">
    <ContentTemplate>
        <asp:PlaceHolder runat="server" ID="mPlaceHolder"></asp:PlaceHolder>
    </ContentTemplate>
</asp:UpdatePanel>
