﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Copyright.ascx.cs" Inherits="controls_Copyright" %>
<asp:Label runat="server">Lang.CopyrightNotice1</asp:Label>
<a href="http://www.jpco.ir/">
    <asp:Label runat="server">Lang.JahanPaywand</asp:Label>
</a>
<asp:Label runat="server">Lang.CopyrightNotice2</asp:Label>
