﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MiniHeader.ascx.cs" Inherits="controls_MiniHeader" %>
<div class="row">
    <div class="col-xs-12">
        <h5 class="dashed-bottom padding-10-bottom yekan-family">
            <asp:Label ID="lblText" runat="server"></asp:Label>
        </h5>
    </div>
</div>
