﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WardChooser.ascx.cs" Inherits="controls_WardChooser" %>
<asp:DropDownList ID="mWards" runat="server" AutoPostBack=true 
    onselectedindexchanged="mWards_SelectedIndexChanged">
</asp:DropDownList>
