﻿body {
    direction: rtl;
}
@font-face {
    font-family: "peyvand";
    src: url('../fonts/IRANSans.woff') format('woff'), url('../fonts/IRANSans.ttf') format('truetype');
}
table {
    width: 100%;
    border: 1px solid #999;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.85em;
    margin-bottom: 30px;
}

td, th {
    border: 1px solid #999;
    padding: 5px;
    font-family: "peyvand",Tahoma;
}
th {
    font-size: 1.2em;
    font-weight: normal;
    white-space: nowrap;
    background-color: #f5f5f5;
    border-bottom: 4px double #666;
}

a {
      color: #000;
      text-decoration: none;
      cursor: default;
}

.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.date-cell {
    width: 90px!important;
    text-align: center!important;
}
.color-cell {
    width: 70px !important;
    text-align: center !important;
}
.row-cell {
    width: 50px!important;
    text-align: center!important;
}
.Title {
    font-size: 18px;
    font-family: "peyvand",Tahoma;
    margin-bottom: 15px;
}
