@font-face {
    font-family: 'BYekan';
    src: url(../fonts/Yekan.eot);
    src: url(../fonts/Yekan.eot?#iefix) format("embedded-opentype"),
         url(../fonts/Yekan.svg#BYekan) format("svg"),
         url(../fonts/Yekan.woff) format("woff"),
         url(../fonts/Yekan.ttf) format("truetype");
    font-weight: normal;
    font-style: normal
}
