/* the div that holds the date picker calendar */
.dpDiv {}
/* the table (within the div) that holds the date picker calendar */
.dpTable 
{
	font-family: "BYekan";
	font-size: 14px;
	text-align: center;
	color: #505050;
	background-color: #FFFFFF;
	border: 1px solid #8A99BA;
  width:210px;
}

.V-dpTable 
{
    font-family: "BYekan";
    font-size: 18px;
    text-align: center;
    color: #505050;
    background-color: #FFFFFF;
    width:100%;
    height: 100%;
    border-spacing: 2px;
    border-collapse: separate;
}

/* a table row that holds date numbers (either blank or 1-31) */
.V-dpTR {
    width: 14%;
    line-height:70px; 
}

/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR 
{
}

/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {}

/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {}

/* a table cell that holds a date number (either blank or 1-31) */
.dpTD 
{
    border: 1px solid #e2e5ed;
    text-align: center;
    background: #fdfdfd;
    background: linear-gradient(to bottom, #fdfdfd 0,#f2f7fa 100%);
    margin: 2px;
    padding: 1px;
    cursor: pointer;
    border-radius: 4px;
}

/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD 
{
	background-color: #F3E18D;
	border: 1px solid #B35412;
}

/* the date number table cell that the mouse pointer is currently over (
   you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover 
{
	background-color: #F3E18D;
	border: 1px solid #B35412;
	cursor: pointer;
}

.V-dpTDHover 
{
    border: 1px solid #e2e5ed;
    text-align: center;
    margin: 2px;
    padding: 1px;
    cursor: pointer;
    border-radius: 4px;
    background: #fdfdfd;
    background: linear-gradient(to bottom, #fdfdfd 0,#e2e6e8 100%);
    border: 1px solid #e2e5ed;
}

.VP-dpTDHover 
{
	background-color:green;
	border: 1px solid #B35412;
	cursor: pointer;
}

.V-dpTDClick 
{
    border: 1px solid #e2e5ed;
    text-align: center;
    margin: 2px;
    padding: 1px;
    cursor: pointer;
    border-radius: 4px;
    background: #fdfdfd;
    background: linear-gradient(to bottom, #f6d2f3 0,#f494ed 100%);
    border: 1px solid #956192;
}


.VP-dpTDClick 
{
	background-color:green;
	border: 1px solid #B35412;
}

/* the table cell that holds the name of the month and the year */
.dpTitleTD {}

/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
    padding: 5px;
}

/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {}

/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD 
{
    font-size: 17px;
    color: Black;
    padding-bottom: 5px;
    margin-bottom: 6px;
    box-shadow: inset 0 0 0 1px #e2edf7;
    background: #fdfdfd;
    background: linear-gradient(to bottom, #fdfdfd 0,#ecf0f4 100%);
    border-radius: 4px;
    color: #575757;
}

/* additional style information for the text that indicates the month and year */
.dpTitleText 
{
	font-family: "peyvand","BYekan";
	font-size: 12px;
	color: Black;
	font-weight: bold;
}

.V-dpTitleText 
{
	font-family: "peyvand","BYekan";
	font-size: 20px;
	color: Black;
	font-weight: bold;
}

/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight 
{
	color: #4060ff;
	font-weight: bold;
}

/* the forward/backward buttons at the top */
.dpButton 
{
	font-family: "peyvand","BYekan";
	font-size: 12px;
	color: #2254b1;
	font-weight: bold;
	padding: 0px;
  cursor: pointer;
}

.V-dpButton 
{
    /* btn */
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    /* btn-sm */
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;

    /* btn-primary */
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;

    /* btn-block */
    display: block;
    width: 100%;
}

.V-dpButton:hover {
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
}

/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton 
{
	font-family: "peyvand","BYekan";
	font-size: 11px;
	font-weight: bold;
	color: #2254b1;
  cursor: pointer;
}

