﻿body 
{
	font-size:12px;
}
.header
{
	font-size:18px;
	font-weight:bold;
	color:#036;
	margin-top:20px;
	display:block;
}
.title
{
	font-size:16px;
	font-weight:bold;
	margin-top:10px;
	display:block;
}
.info
{
	font-size:11px;
	font-style:italic;
}
.field
{
	color:#036;
	font-weight:bold;
}
div
{
	padding:5px 20px 0 0;
}
div.main
{
	padding:0px !important;
}