#megaanchor
{
	font-weight: bold;
}
.megamenu1
{
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	background: white;
	border: 1px solid #f06b24;
	border-width: 5px 1px;
	padding: 10px;
	font: normal 12px "peyvand",Verdana;
	z-index: 100;
}
.megamenu
{
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	background: white;
	border: 1px solid #BBB;
	padding: 6px 12px 5px 10px;
	box-shadow: 4px 4px 8px #BBB;
	font: normal 12px "peyvand",Verdana;
	z-index: 100;
	z-index: 1000;
	white-space: nowrap;
}

.megamenu .column
{
	float: left;
	width: 180px; /*width of each menu column*/
	margin-right: 5px;
	direction: rtl;
}

.megamenu .column ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.megamenu .column ul li
{
	padding-bottom: 5px;
}

.megamenu .column h3
{
	bbackground: #e0e0e0;
	font: bold 18px 'Traditional Arabic';
	margin: 0 0 5px 0;
	color: #00496F;
}

.megamenu .column ul li a
{
	text-decoration: none;
}

.megamenu .column ul li a:hover
{
	color: red;
}
