﻿.layout-header {
    background-image: url(../img/bg-min.png);
    background-repeat: repeat-x;
    height: 62px;
    border-bottom: 1px solid #000;
}

.brand {
    background-image: url(../img/logoright.png);
    display: inline-block;
    width: 145px;
    height: 51px;
    margin-top: 6px;
}

.layout-header .links {
    line-height: 62px;
}

.layout-information {
    padding-top: 5px;
    padding-bottom: 3px;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 10px;
}

.layout-footer {
    background-image: url(../img/footer.png);
    background-repeat: repeat-x;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 32px;
    line-height: 32px;
    color: #efefef;
    font-size: 12px;
}
.layout-footer a {
    color: #efefef;
}

.layout-messages {
    
}