﻿$i: 0;

@while $i <= 1000 {
    .margin-#{$i}			{ margin:			1px * $i!important; }

    .margin-#{$i}-left		{ margin-left:		1px * $i!important; }
    .margin-#{$i}-right		{ margin-right:		1px * $i!important; }
    .margin-#{$i}-top		{ margin-top:		1px * $i!important; }
    .margin-#{$i}-bottom	{ margin-bottom:	1px * $i!important; }
    $i: $i + 5;
}