﻿body {
    font-family: "peyvand","Tahoma";
    font-size: 12px;
}

.navbar {
    -ms-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-inverse {
    background: #3b7fc4; /* Old browsers */
    background: -moz-linear-gradient(top, #3b7fc4 0%, #336ea9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b7fc4), color-stop(100%,#336ea9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3b7fc4 0%,#336ea9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3b7fc4 0%,#336ea9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3b7fc4 0%,#336ea9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3b7fc4 0%,#336ea9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b7fc4', endColorstr='#336ea9',GradientType=0 ); /* IE6-9 */
    border: none;
    /*height: 60px;*/
}

    .navbar-inverse .navbar-nav {
        background-position: center bottom;
        background-repeat: no-repeat;
        /*height: 60px;*/
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #30518d;
    }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        color: #fff;
        background: #4F8CCA;
        border-bottom: 1px solid #f00;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        border-bottom: 1px solid transparent;
        height: 60px;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            -ms-text-shadow: 0px 0px 1px #fff;
            text-shadow: 0px 0px 2px #fff;
            background-color: #4796e6;
            border-bottom: 1px solid #f00;
        }

    .navbar-inverse .navbar-brand {
        color: #fff;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        font-family: "peyvand","BYekan";
        font-size: 22px;
        padding: 0px 0px;
        padding-right: 3px;
        display: inline-block;
        width: 115px;
        height: 40px;
        margin-top: 5px;
    }

        .navbar-inverse .navbar-brand:hover {
            color: #fff;
            -ms-text-shadow: 0px 0px 1px #fff;
            text-shadow: 0px 0px 2px #fff;
        }

.table > tbody > tr > td {
    line-height: 28px;
}

label {
    font-weight: normal;
}

.table > thead > tr > th {
    padding-right: 15px;
}

.dataTables_filter {
    float: left;
}

.dataTables_length {
    float: right;
}

.dataTables_paginate {
    float: left !important;
}

.navbar-img {
    width: 24px;
    height: 24px;
    margin-left: 3px;
    margin-right: 3px;
}

.navbar-nav > li > a {
    padding-bottom: 10px;
    padding-right: 7px;
    padding-left: 7px;
}

/* flexigrid */
.flexigrid div.bDiv td {
    border-bottom: 1px solid #ddd;
}

.flexigrid div.fbutton span {
    min-width: 100px !important;
}

.quick-launch-item.ui-state-focus {
    margin: 0;
    border: none !important;
    background-color: #009ae4;
    background: rgb(0,154,228); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,154,228,1) 0%, rgba(65,176,224,1) 47%, rgba(0,154,228,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,154,228,1)), color-stop(47%,rgba(65,176,224,1)), color-stop(100%,rgba(0,154,228,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,154,228,1) 0%,rgba(65,176,224,1) 47%,rgba(0,154,228,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,154,228,1) 0%,rgba(65,176,224,1) 47%,rgba(0,154,228,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,154,228,1) 0%,rgba(65,176,224,1) 47%,rgba(0,154,228,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,154,228,1) 0%,rgba(65,176,224,1) 47%,rgba(0,154,228,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ae4', endColorstr='#009ae4',GradientType=0 ); /* IE6-9 */
    color: #fff;
}

.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
    margin: 0 !important;
}

label {
    cursor: pointer;
}

.red {
    position: absolute;
    left: 5px;
    top: 5px;
}

@media only screen and (min-width: 768px) {
    .form-col-without-padding .red {
        left: -10px;
    }
}

@media only screen and (max-width: 768px) {
    .red {
        left: 0;
    }
}

.input-group > .red {
    left: -10px;
}

.compact-form .row {
    margin-left: 0;
    margin-bottom: 2px;
}

.compact-form .input-sm {
    height: 25px;
}


/* Override the input-sm size */
.input-sm, .form-horizontal .form-group-sm .form-control {
    height: 25px;
    font-size: 11px;
}

select.input-sm {
    height: 25px;
    line-height: 25px;
}

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    height: 25px;
    padding: 3px 10px;
    font-size: 11px;
}

.table-with-border th, .table-with-border tr.th td {
    padding: 3px 6px !important;
}


.btn-remove {
    padding-top: 2px !important;
    padding-bottom: 3px !important;
}

ul.tabs li {
    padding: 2px 30px !important;
}

@media only screen and (max-width: 768px) {
    ul.tabs li {
        padding: 2px 25px !important;
    }
}

.form-group-container {
    margin-bottom: 2px !important;
}

.form-control {
    color: #111;
}

    .form-control.autoerror {
        border-color: #843534;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    }

    .form-control.monetary {
        background-color: #c3ddea;
    }


.input-sm.ac_input {
    padding-left: 20px;
}

.form-control.ac_input {
    padding-left: 15px;
}

.input-sm.req {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

select.input-sm {
    font-size: 11px;
    padding: 0;
}


.qq-upload-button {
    color: #fff !important;
    background-color: #428bca !important;
    border-color: #357ebd !important;
    display: inline-block;
    margin: 10px auto;
    border-radius: 4px;
}

    .qq-upload-button:hover {
        background-color: #3071a9 !important;
        border-color: #285e8e !important;
    }

.qq-upload-list li {
    margin-bottom: 3px !important;
    border-radius: 4px;
}

@media only screen and (max-width: 992px) {
    .flexigrid div.pDiv div.pDiv2 {
        width: 100% !important;
    }

    .flexigrid div.hDiv {
        display: none !important;
    }

    .flexigrid div.tDiv {
        background: none !important;
    }

    .flexigrid div.tDiv2 {
        float: none !important;
        background: none !important;
    }

    .flexigrid div.fbutton {
        float: right !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        color: #444;
        color: rgba(0,0,0,.8);
        border: 1px solid #999;
        background-color: #E6E6E6;
        border-radius: 2px;
        margin: 1px;
        border: 1px solid #ccc;
        width: 24%
    }

        .flexigrid div.fbutton:hover, .flexigrid div.fbutton.fbOver {
            padding: 5px 1px !important;
        }

            .flexigrid div.fbutton:hover div, .flexigrid div.fbutton.fbOver div {
                border: 0 rgba(0,0,0,0) !important;
                padding: 1px 3px !important;
            }

        .flexigrid div.fbutton div {
            float: none !important;
        }

    .flexigrid div.btnseparator {
        display: none !important;
    }

    .flexigrid tr.erow td.sorted {
        background-color: #f7f7f7 !important;
    }

    .flexigrid tr td.sorted {
        background: inherit !important;
        background-color: inherit !important;
        border-right: inherit !important;
        border-bottom: inherit !important;
    }

    .flexigrid div.fbutton span {
        float: none !important;
    }

    .awesome-table td {
        text-align: right !important;
    }

        .awesome-table td[class^="width-"],
        .awesome-table td[class="row-cell"],
        .awesome-table td[class="action-cell"],
        .awesome-table td[class="color-cell"],
        .awesome-table td[class="date-cell"] {
            text-align: right !important;
            width: 100% !important;
        }

    .pGroup {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

        .pGroup.page-size {
            float: none !important;
        }

    .filter-container {
        float: none !important;
        display: block;
        margin-bottom: 5px;
        text-align: left;
    }
    #trFooter {
        display: none;
    }
    #filterDiv {
        left: 0 !important;
    }
    #deleteDateFromPrint {
        display: none;
    }
    #hideTotal {
        display: none;
    }
    .autocomplete-item .details {
        display: none !important;
    }
    .ac_results {
        width: 300px !important;
    }
}

legend {
    margin-bottom: 10px !important;
    border-bottom: 1px dashed #999999;
}

.megamenu .column {
    width: 280px !important;
}

.megamenu.small-menu .column {
    width: 160px !important;
    padding: 0;
    margin: 0 !important;
}

.flexigrid div.bDiv {
    overflow-y: scroll !important;
}

.ac_results ul li {
    white-space: nowrap !important;
    padding: 5px 5px 5px 30px !important;
}

.ac_odd {
    background-color: #F9F7F7;
}

.ac_over {
    background-color: #dedac6 !important;
    color: #000000;
}
@media(min-width: 992px) {
    .hidebutton {
        display: none;
    }
    #hideTotal {
        display: block !important;
    }
}
.rotated {
    -webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(180deg);  /* IE 9 */
    -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
    transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}