﻿$i: 0;

@while $i <= 1000 {
    .padding-#{$i}			{ padding:			1px * $i!important; }

    .padding-#{$i}-left		{ padding-left:		1px * $i!important; }
    .padding-#{$i}-right	{ padding-right:	1px * $i!important; }
    .padding-#{$i}-top		{ padding-top:		1px * $i!important; }
    .padding-#{$i}-bottom	{ padding-bottom:	1px * $i!important; }
    $i: $i + 5;
}