﻿body
{
	direction: rtl;
	font-size: 10px;
	font-weight: normal;
	margin: 0px;
	line-height: 24px;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
}
th
{
	background-color: #eee;
}
td, th
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	padding: 5px;
	color: #330000;
	line-height: 24px;
}
.newpage
{
	page-break-after: always;
}

H1
{
	font-size: 22px;
	color: #000000;
	font-family: Nazli,Arial,Tahoma, Helvetica, sans-serif;
}
H2
{
	font-weight: bold;
	font-size: 24px;
	color: #000000;
	font-family: Nazli,Arial, Tahoma,Helvetica, sans-serif;
}

a
{
	color: #330000;
}

.row
{
	font-size: 11px;
	border-bottom: #555555 1px solid;
	font-family: Arial;
}
.rowNoLine, TD
{
	font-size: 11px;
	line-height: 1.15;
	font-family: Arial;
	border-spacing: 0;
}
.tt TD
{
	margin: 0;
	padding: 0;
}

input, textarea
{
	border:none 0px red;
}

#detailForm, #subDetailForm
{
	direction: rtl;
	text-align: right;
	font-family: Tahoma;
	background: #fff;
	border: 0px solid #fff;
	padding: 10px 4px;
	overflow: auto;
}
#detailForm, #subDetailForm
{
	direction: rtl;
	text-align: right;
	font-family: Tahoma;
	background: #fff;
	border: 0px solid #fff;
	padding: 10px 4px;
}
#printForm
{
	direction: rtl;
	text-align: right;
	line-height: 1cm;
	font-family: Tahoma;
}
.popupTitle
{
	color: #00496F;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	height: 30px !important;
}
label
{
	font-weight:bold;
}
.label0 label
{
	display: inline-block;
	min-width: 50px;
	text-align: right;
}
.label01 label
{
	display: inline-block;
	min-width: 70px;
	text-align: right;
	font-weight: normal;
}
.label01 input
{
	width: 90px;
	min-width: 90px;
}
.label01 select
{
	width: 110px;
	min-width: 110px;
}
.label1 label
{
	display: inline-block;
	min-width: 80px;
	text-align: right;
}
.label2 label
{
	display: inline-block;
	min-width: 100px;
	text-align: left;
}
#printForm .label1 span
{
	display: inline-block;
	min-width: 80px;
	text-align: right;
}
.label2 select, .label1 select, .label0 select
{
	min-width: 140px;
	width: 140px;
}
.printForm
{
	direction: rtl;
	text-align: right;
	line-height: 1cm;
	font-family: Tahoma;
	color: #000;
	padding: 0px;
	margin: 0px;
}
.print label
{
	display: inline-block;
	min-width: 100px;
	text-align: right;
	font-weight: bold;
}
.print span
{
	display: inline-block;
	min-width: 100px;
	text-align: right;
	margin-right: 5mm;
}

#detailForm input[type="text"], #detailForm input[type="password"], #detailForm select, #detailForm textarea, #subDetailForm input[type="text"], #subDetailForm input[type="password"], #subDetailForm select, #subDetailForm textarea
{
	color: #444;
	border: 0px solid #ccc;
	xpadding: 1px 1px;
	xmargin: 2px 2px;
	xwidth: 80px;
}

.input2#detailForm input[type="text"], .input2#detailForm input[type="password"], .input2#detailForm select, .input2#detailForm textarea, .input2#subDetailForm input[type="text"], .input2#subDetailForm input[type="password"], .input2#subDetailForm select, .input2#subDetailForm textarea
{
	width: 130px;
}
.input3#detailForm input[type="text"], .input3#detailForm input[type="password"], .input3#detailForm select, .input3#detailForm textarea, .input3#subDetailForm input[type="text"], .input3#subDetailForm input[type="password"], .input3#subDetailForm select, .input3#subDetailForm textarea
{
	width: 150px;
}
.narrow, #detailForm input[type="text"].narrow, #subDetailForm input[type="text"].narrow
{
	width: 30px;
}
.narrow1, #detailForm input[type="text"].narrow1, #subDetailForm input[type="text"].narrow1
{
	width: 50px;
}
.narrow15, #detailForm input[type="text"].narrow15, #subDetailForm input[type="text"].narrow15
{
	width: 80px;
}
.narrow2, #detailForm input[type="text"].narrow2, #subDetailForm input[type="text"].narrow2
{
	width: 100px;
}
.middle1
{
	width: 250px;
}
.middle, #detailForm textarea.middle, #detailForm input.middle, #subDetailForm textarea.middle, #subDetailForm input.middle
{
	width: 420px;
}
.wide, #detailForm textarea.wide, #detailForm input.wide, #subDetailForm textarea.wide, #subDetailForm input.wide
{
	width: 600px;
}
.wides, #detailForm textarea.wides, #detailForm input.wides, #subDetailForm textarea.wides, #subDetailForm input.wides
{
	width: 600px;
	height: 100px;
}

.ltr
{
	direction: ltr;
}
.rtl
{
	direction: rtl;
}
.red
{
	display:none;
}
.Title
{
	font-weight:bold;
	font-size:14px;
}

/*right*/
.r
{
	float: right;
}
/*left*/
.l
{
	float: left;
}
/*text right*/
.tr
{
	text-align: right;
}
/*text left*/
.tl
{
	text-align: left;
}
/*text center*/
.tc
{
	text-align: center;
}
.border
{
	border:solid 1px #000;
}
.borderbottom
{
	border-bottom:solid 1px #000;
}
.bordertop
{
	border-top:solid 1px #000;
}
.val
{
	margin:3px;
	font-weight:normal;
	display: inline-block;
	min-width: 80px;
}

.detail1
{
	padding-right:1cm;
}

.form-control {
    /* color: #555; */
    /* background-color: #fff; */
    background-image: none;
    border: 0px none #ccc !important;
    border-radius: 4px;
    -webkit-box-shadow: none 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075) !important;
}