﻿body {
    direction: rtl;
    font-family: "Mitra", "Tahoma";
    font-size: 12pt;
    padding: 10px;
}

.normal-weight {
    font-weight: normal;
}

span.label {
    font-weight: bold;
}

span.label:after {
    content: ":";
    display: inline-block;
    margin-left: 5px;
}