.sprites {
  background-image: url(../img/spritesheet.png);
}

.sprites-abacus-16 {
  background-position: -231px -140px;
  width: 28px;
  height: 29px;
}
.sprites-abacus-32 {
  background-position: -494px -173px;
  width: 32px;
  height: 32px;
}
.sprites-abacus-small {
  background-position: -483px -237px;
  width: 24px;
  height: 24px;
}
.sprites-accountcheckout-32 {
  background-position: -494px -109px;
  width: 32px;
  height: 32px;
}
.sprites-accreport-16 {
  background-position: -464px -342px;
  width: 16px;
  height: 16px;
}
.sprites-accreport-32 {
  background-position: -462px -141px;
  width: 32px;
  height: 32px;
}
.sprites-accreport-small {
  background-position: -96px -294px;
  width: 24px;
  height: 24px;
}
.sprites-admin-16 {
  background-position: -200px -140px;
  width: 31px;
  height: 31px;
}
.sprites-admin-32 {
  background-position: -526px -141px;
  width: 32px;
  height: 32px;
}
.sprites-admin-small {
  background-position: -312px -270px;
  width: 24px;
  height: 24px;
}
.sprites-awards-16 {
  background-position: -80px -358px;
  width: 16px;
  height: 16px;
}
.sprites-awards-32 {
  background-position: -558px -141px;
  width: 32px;
  height: 32px;
}
.sprites-awards-small {
  background-position: -144px -318px;
  width: 24px;
  height: 24px;
}
.sprites-bank-16 {
  background-position: -64px -358px;
  width: 16px;
  height: 16px;
}
.sprites-bank-32 {
  background-position: -398px -173px;
  width: 32px;
  height: 32px;
}
.sprites-bank-small {
  background-position: -96px -270px;
  width: 24px;
  height: 24px;
}
.sprites-bankaccount-16 {
  background-position: -32px -358px;
  width: 16px;
  height: 16px;
}
.sprites-bankaccount-32 {
  background-position: -339px -13px;
  width: 32px;
  height: 32px;
}
.sprites-bankaccount-small {
  background-position: -504px -270px;
  width: 24px;
  height: 24px;
}
.sprites-bankaccountcheck-16 {
  background-position: -16px -358px;
  width: 16px;
  height: 16px;
}
.sprites-bankaccountcheck-32 {
  background-position: -403px -13px;
  width: 32px;
  height: 32px;
}
.sprites-bankaccountcheck-small {
  background-position: -168px -294px;
  width: 24px;
  height: 24px;
}
.sprites-bankprint-16 {
  background-position: -576px -342px;
  width: 16px;
  height: 16px;
}
.sprites-bankprint-32 {
  background-position: -435px -13px;
  width: 32px;
  height: 32px;
}
.sprites-bankprint-small {
  background-position: -168px -318px;
  width: 24px;
  height: 24px;
}
.sprites-bill-16 {
  background-position: -560px -342px;
  width: 16px;
  height: 16px;
}
.sprites-bill-32 {
  background-position: -499px -13px;
  width: 32px;
  height: 32px;
}
.sprites-bill-small {
  background-position: -187px -240px;
  width: 24px;
  height: 24px;
}
.sprites-calculator-small {
  background-position: -24px -270px;
  width: 24px;
  height: 24px;
}
.sprites-cardex-16 {
  background-position: -528px -342px;
  width: 16px;
  height: 16px;
}
.sprites-cardex-32 {
  background-position: -531px -13px;
  width: 32px;
  height: 32px;
}
.sprites-cardex-small {
  background-position: -240px -270px;
  width: 24px;
  height: 24px;
}
.sprites-cart-16 {
  background-position: -366px -237px;
  width: 34px;
  height: 29px;
}
.sprites-cart-32 {
  background-position: -302px -45px;
  width: 32px;
  height: 32px;
}
.sprites-cart-small {
  background-position: -384px -270px;
  width: 24px;
  height: 24px;
}
.sprites-check-16 {
  background-position: -512px -342px;
  width: 16px;
  height: 16px;
}
.sprites-check-32 {
  background-position: -366px -45px;
  width: 32px;
  height: 32px;
}
.sprites-check-small {
  background-position: -72px -294px;
  width: 24px;
  height: 24px;
}
.sprites-closetopic-16 {
  background-position: -480px -342px;
  width: 16px;
  height: 16px;
}
.sprites-closetopic-32 {
  background-position: -430px -45px;
  width: 32px;
  height: 32px;
}
.sprites-closetopic-small {
  background-position: -312px -294px;
  width: 24px;
  height: 24px;
}
.sprites-collapse {
  background-position: -456px -294px;
  width: 24px;
  height: 24px;
}
.sprites-config-16 {
  background-position: -128px -358px;
  width: 16px;
  height: 14px;
}
.sprites-config-32 {
  background-position: -270px -13px;
  width: 37px;
  height: 32px;
}
.sprites-config-small {
  background-position: -264px -318px;
  width: 24px;
  height: 21px;
}
.sprites-contact-small {
  background-position: -200px -171px;
  width: 28px;
  height: 28px;
}
.sprites-contactcenter-16 {
  background-position: -416px -342px;
  width: 16px;
  height: 16px;
}
.sprites-contactcenter-32 {
  background-position: -558px -45px;
  width: 32px;
  height: 32px;
}
.sprites-contactcenter-small {
  background-position: -507px -237px;
  width: 24px;
  height: 24px;
}
.sprites-conversion-16 {
  background-position: -400px -342px;
  width: 16px;
  height: 16px;
}
.sprites-conversion-32 {
  background-position: -302px -77px;
  width: 32px;
  height: 32px;
}
.sprites-conversion-small {
  background-position: -235px -240px;
  width: 24px;
  height: 24px;
}
.sprites-cooperationtype-16 {
  background-position: -368px -342px;
  width: 16px;
  height: 16px;
}
.sprites-cooperationtype-32 {
  background-position: -334px -77px;
  width: 32px;
  height: 32px;
}
.sprites-cooperationtype-small {
  background-position: -48px -270px;
  width: 24px;
  height: 24px;
}
.sprites-custom-report-16 {
  background-position: -352px -342px;
  width: 16px;
  height: 16px;
}
.sprites-custom-report-32 {
  background-position: -398px -77px;
  width: 32px;
  height: 32px;
}
.sprites-custom-report-small {
  background-position: -120px -270px;
  width: 24px;
  height: 24px;
}
.sprites-dbadmin-16 {
  background-position: -320px -342px;
  width: 16px;
  height: 16px;
}
.sprites-dbadmin-32 {
  background-position: -430px -77px;
  width: 32px;
  height: 32px;
}
.sprites-dbadmin-small {
  background-position: -264px -270px;
  width: 24px;
  height: 24px;
}
.sprites-definition-16 {
  background-position: -304px -342px;
  width: 16px;
  height: 16px;
}
.sprites-definition-32 {
  background-position: -494px -77px;
  width: 32px;
  height: 32px;
}
.sprites-distribute-16 {
  background-position: -272px -342px;
  width: 16px;
  height: 16px;
}
.sprites-distribute-32 {
  background-position: -526px -77px;
  width: 32px;
  height: 32px;
}
.sprites-distribute-small {
  background-position: -456px -270px;
  width: 24px;
  height: 24px;
}
.sprites-edit-16 {
  background-position: -256px -342px;
  width: 16px;
  height: 16px;
}
.sprites-edit-32 {
  background-position: -270px -109px;
  width: 32px;
  height: 32px;
}
.sprites-expand {
  background-position: -552px -270px;
  width: 24px;
  height: 24px;
}
.sprites-field-16 {
  background-position: -224px -342px;
  width: 16px;
  height: 16px;
}
.sprites-field-32 {
  background-position: -302px -109px;
  width: 32px;
  height: 32px;
}
.sprites-financeyear-16 {
  background-position: -208px -342px;
  width: 16px;
  height: 16px;
}
.sprites-financeyear-32 {
  background-position: -366px -109px;
  width: 32px;
  height: 32px;
}
.sprites-financeyear-small {
  background-position: -216px -294px;
  width: 24px;
  height: 24px;
}
.sprites-form-16 {
  background-position: -176px -342px;
  width: 16px;
  height: 16px;
}
.sprites-form-32 {
  background-position: -398px -109px;
  width: 32px;
  height: 32px;
}
.sprites-form-small {
  background-position: -360px -294px;
  width: 24px;
  height: 24px;
}
.sprites-fullscreen-small {
  background-position: -384px -294px;
  width: 24px;
  height: 24px;
}
.sprites-functionalbalance-16 {
  background-position: -160px -342px;
  width: 16px;
  height: 16px;
}
.sprites-functionalbalance-32 {
  background-position: -462px -109px;
  width: 32px;
  height: 32px;
}
.sprites-functionalbalance-small {
  background-position: -528px -294px;
  width: 24px;
  height: 24px;
}
.sprites-fund-16 {
  background-position: -128px -342px;
  width: 16px;
  height: 16px;
}
.sprites-fund-32 {
  background-position: -307px -13px;
  width: 32px;
  height: 32px;
}
.sprites-fundtype-16 {
  background-position: -112px -342px;
  width: 16px;
  height: 16px;
}
.sprites-fundtype-32 {
  background-position: -558px -109px;
  width: 32px;
  height: 32px;
}
.sprites-getprice-16 {
  background-position: -80px -342px;
  width: 16px;
  height: 16px;
}
.sprites-getprice-32 {
  background-position: -270px -141px;
  width: 32px;
  height: 32px;
}
.sprites-getprice-small {
  background-position: -435px -237px;
  width: 24px;
  height: 24px;
}
.sprites-help-small {
  background-position: -459px -237px;
  width: 24px;
  height: 24px;
}
.sprites-holiday-16 {
  background-position: -64px -342px;
  width: 16px;
  height: 16px;
}
.sprites-holiday-32 {
  background-position: -334px -141px;
  width: 32px;
  height: 32px;
}
.sprites-holiday-small {
  background-position: -531px -237px;
  width: 24px;
  height: 24px;
}
.sprites-home-small {
  background-position: -400px -237px;
  width: 35px;
  height: 27px;
}
.sprites-invoice-16 {
  background-position: -32px -342px;
  width: 16px;
  height: 16px;
}
.sprites-invoice-32 {
  background-position: -398px -141px;
  width: 32px;
  height: 32px;
}
.sprites-invoice-small {
  background-position: -211px -240px;
  width: 24px;
  height: 24px;
}
.sprites-k-abacus-big {
  background-position: -200px 0px;
  width: 70px;
  height: 70px;
}
.sprites-k-admin-big {
  background-position: -200px -70px;
  width: 70px;
  height: 70px;
}
.sprites-k-bottom-border {
  background-position: -270px 0px;
  width: 323px;
  height: 13px;
}
.sprites-k-cart-big {
  background-position: 0px -200px;
  width: 70px;
  height: 70px;
}
.sprites-k-report-big {
  background-position: -70px -200px;
  width: 70px;
  height: 70px;
}
.sprites-lang-16 {
  background-position: -16px -342px;
  width: 16px;
  height: 16px;
}
.sprites-lang-32 {
  background-position: -302px -173px;
  width: 32px;
  height: 32px;
}
.sprites-lang-small {
  background-position: -144px -270px;
  width: 24px;
  height: 24px;
}
.sprites-loans-16 {
  background-position: -576px -318px;
  width: 16px;
  height: 16px;
}
.sprites-loans-32 {
  background-position: -334px -173px;
  width: 32px;
  height: 32px;
}
.sprites-loans-small {
  background-position: -216px -270px;
  width: 24px;
  height: 24px;
}
.sprites-logo {
  background-position: -140px -200px;
  width: 115px;
  height: 40px;
}
.sprites-logo2 {
  background-position: 0px 0px;
  width: 200px;
  height: 200px;
}
.sprites-logs-16 {
  background-position: -560px -318px;
  width: 16px;
  height: 16px;
}
.sprites-logs-32 {
  background-position: -462px -173px;
  width: 32px;
  height: 32px;
}
.sprites-logs-small {
  background-position: -336px -270px;
  width: 24px;
  height: 24px;
}
.sprites-monetaryunit-16 {
  background-position: -112px -358px;
  width: 16px;
  height: 16px;
}
.sprites-monetaryunit-32 {
  background-position: -526px -173px;
  width: 32px;
  height: 32px;
}
.sprites-monetaryunit-small {
  background-position: -408px -270px;
  width: 24px;
  height: 24px;
}
.sprites-opentopic-16 {
  background-position: -528px -318px;
  width: 16px;
  height: 16px;
}
.sprites-opentopic-32 {
  background-position: -558px -173px;
  width: 32px;
  height: 32px;
}
.sprites-opentopic-small {
  background-position: -480px -270px;
  width: 24px;
  height: 24px;
}
.sprites-options-small {
  background-position: -563px -13px;
  width: 29px;
  height: 28px;
}
.sprites-outputfile-16 {
  background-position: -512px -318px;
  width: 16px;
  height: 16px;
}
.sprites-outputfile-32 {
  background-position: -334px -205px;
  width: 32px;
  height: 32px;
}
.sprites-paperbook-16 {
  background-position: -480px -318px;
  width: 16px;
  height: 16px;
}
.sprites-paperbook-32 {
  background-position: -366px -205px;
  width: 32px;
  height: 32px;
}
.sprites-paperbook-small {
  background-position: -48px -294px;
  width: 24px;
  height: 24px;
}
.sprites-paycheck-16 {
  background-position: -464px -318px;
  width: 16px;
  height: 16px;
}
.sprites-paycheck-32 {
  background-position: -430px -205px;
  width: 32px;
  height: 32px;
}
.sprites-paycheck-small {
  background-position: -120px -294px;
  width: 24px;
  height: 24px;
}
.sprites-performancereport-16 {
  background-position: -432px -318px;
  width: 16px;
  height: 16px;
}
.sprites-performancereport-32 {
  background-position: -462px -205px;
  width: 32px;
  height: 32px;
}
.sprites-performancereport-small {
  background-position: -192px -294px;
  width: 24px;
  height: 24px;
}
.sprites-person-16 {
  background-position: -416px -318px;
  width: 16px;
  height: 16px;
}
.sprites-person-32 {
  background-position: -526px -205px;
  width: 32px;
  height: 32px;
}
.sprites-person-small {
  background-position: -264px -294px;
  width: 24px;
  height: 24px;
}
.sprites-personnelgroup-16 {
  background-position: -384px -318px;
  width: 16px;
  height: 16px;
}
.sprites-personnelgroup-32 {
  background-position: -558px -205px;
  width: 32px;
  height: 32px;
}
.sprites-personnelgroup-small {
  background-position: -336px -294px;
  width: 24px;
  height: 24px;
}
.sprites-product-16 {
  background-position: -368px -318px;
  width: 16px;
  height: 16px;
}
.sprites-product-32 {
  background-position: -302px -237px;
  width: 32px;
  height: 32px;
}
.sprites-product-small {
  background-position: -408px -294px;
  width: 24px;
  height: 24px;
}
.sprites-producttype-16 {
  background-position: -336px -318px;
  width: 16px;
  height: 16px;
}
.sprites-producttype-32 {
  background-position: -334px -237px;
  width: 32px;
  height: 32px;
}
.sprites-producttype-small {
  background-position: -480px -294px;
  width: 24px;
  height: 24px;
}
.sprites-program-16 {
  background-position: -320px -318px;
  width: 16px;
  height: 16px;
}
.sprites-program-32 {
  background-position: -366px -141px;
  width: 32px;
  height: 32px;
}
.sprites-program-small {
  background-position: -552px -294px;
  width: 24px;
  height: 24px;
}
.sprites-purchase-16 {
  background-position: -288px -318px;
  width: 16px;
  height: 16px;
}
.sprites-purchase-32 {
  background-position: -526px -45px;
  width: 32px;
  height: 32px;
}
.sprites-purchase-small {
  background-position: -48px -318px;
  width: 24px;
  height: 24px;
}
.sprites-purchaserequest-16 {
  background-position: -576px -294px;
  width: 16px;
  height: 16px;
}
.sprites-purchaserequest-32 {
  background-position: -398px -45px;
  width: 32px;
  height: 32px;
}
.sprites-purchaserequest-small {
  background-position: -120px -318px;
  width: 24px;
  height: 24px;
}
.sprites-refuse-16 {
  background-position: -192px -342px;
  width: 16px;
  height: 16px;
}
.sprites-refuse-32 {
  background-position: -494px -141px;
  width: 32px;
  height: 32px;
}
.sprites-refuse-small {
  background-position: -192px -318px;
  width: 24px;
  height: 24px;
}
.sprites-report-16 {
  background-position: -140px -240px;
  width: 23px;
  height: 28px;
}
.sprites-report-32 {
  background-position: -462px -45px;
  width: 32px;
  height: 32px;
}
.sprites-report-general-16 {
  background-position: -448px -342px;
  width: 16px;
  height: 16px;
}
.sprites-report-general-32 {
  background-position: -270px -45px;
  width: 32px;
  height: 32px;
}
.sprites-report-general-small {
  background-position: -72px -318px;
  width: 24px;
  height: 24px;
}
.sprites-report-small {
  background-position: 0px -318px;
  width: 24px;
  height: 24px;
}
.sprites-reports-16 {
  background-position: -304px -318px;
  width: 16px;
  height: 16px;
}
.sprites-reports-32 {
  background-position: -270px -205px;
  width: 32px;
  height: 32px;
}
.sprites-reports-small {
  background-position: -432px -294px;
  width: 24px;
  height: 24px;
}
.sprites-request-16 {
  background-position: -352px -318px;
  width: 16px;
  height: 16px;
}
.sprites-request-32 {
  background-position: -270px -237px;
  width: 32px;
  height: 32px;
}
.sprites-request-small {
  background-position: -288px -294px;
  width: 24px;
  height: 24px;
}
.sprites-return-16 {
  background-position: -400px -318px;
  width: 16px;
  height: 16px;
}
.sprites-return-32 {
  background-position: -494px -205px;
  width: 32px;
  height: 32px;
}
.sprites-return-small {
  background-position: -144px -294px;
  width: 24px;
  height: 24px;
}
.sprites-role-16 {
  background-position: -448px -318px;
  width: 16px;
  height: 16px;
}
.sprites-role-32 {
  background-position: -398px -205px;
  width: 32px;
  height: 32px;
}
.sprites-role-small {
  background-position: 0px -294px;
  width: 24px;
  height: 24px;
}
.sprites-salary-16 {
  background-position: -496px -318px;
  width: 16px;
  height: 16px;
}
.sprites-salary-32 {
  background-position: -302px -205px;
  width: 32px;
  height: 32px;
}
.sprites-salary-small {
  background-position: -432px -270px;
  width: 24px;
  height: 24px;
}
.sprites-store-16 {
  background-position: -544px -318px;
  width: 16px;
  height: 16px;
}
.sprites-store-32 {
  background-position: -430px -173px;
  width: 32px;
  height: 32px;
}
.sprites-store-small {
  background-position: -168px -270px;
  width: 24px;
  height: 24px;
}
.sprites-storecategory-16 {
  background-position: 0px -342px;
  width: 16px;
  height: 16px;
}
.sprites-storecategory-32 {
  background-position: -270px -173px;
  width: 32px;
  height: 32px;
}
.sprites-storecategory-small {
  background-position: -163px -240px;
  width: 24px;
  height: 24px;
}
.sprites-storedraft-16 {
  background-position: -48px -342px;
  width: 16px;
  height: 16px;
}
.sprites-storedraft-32 {
  background-position: -302px -141px;
  width: 32px;
  height: 32px;
}
.sprites-storedraft-small {
  background-position: -216px -318px;
  width: 24px;
  height: 24px;
}
.sprites-subsystem-16 {
  background-position: -96px -342px;
  width: 16px;
  height: 16px;
}
.sprites-subsystem-32 {
  background-position: -526px -109px;
  width: 32px;
  height: 32px;
}
.sprites-subsystem-small {
  background-position: -24px -318px;
  width: 24px;
  height: 24px;
}
.sprites-supplier-16 {
  background-position: -144px -342px;
  width: 16px;
  height: 16px;
}
.sprites-supplier-32 {
  background-position: -430px -109px;
  width: 32px;
  height: 32px;
}
.sprites-supplier-small {
  background-position: -240px -294px;
  width: 24px;
  height: 24px;
}
.sprites-system-16 {
  background-position: -576px -270px;
  width: 16px;
  height: 16px;
}
.sprites-system-32 {
  background-position: -334px -109px;
  width: 32px;
  height: 32px;
}
.sprites-system-small {
  background-position: -24px -294px;
  width: 24px;
  height: 24px;
}
.sprites-topicgroup-16 {
  background-position: -240px -342px;
  width: 16px;
  height: 16px;
}
.sprites-topicgroup-32 {
  background-position: -558px -77px;
  width: 32px;
  height: 32px;
}
.sprites-topicgroup-small {
  background-position: -360px -270px;
  width: 24px;
  height: 24px;
}
.sprites-topics-16 {
  background-position: -288px -342px;
  width: 16px;
  height: 16px;
}
.sprites-topics-32 {
  background-position: -462px -77px;
  width: 32px;
  height: 32px;
}
.sprites-topics-small {
  background-position: -192px -270px;
  width: 24px;
  height: 24px;
}
.sprites-totalbook-16 {
  background-position: -336px -342px;
  width: 16px;
  height: 16px;
}
.sprites-totalbook-32 {
  background-position: -366px -77px;
  width: 32px;
  height: 32px;
}
.sprites-totalbook-small {
  background-position: 0px -270px;
  width: 24px;
  height: 24px;
}
.sprites-transfer-16 {
  background-position: -384px -342px;
  width: 16px;
  height: 16px;
}
.sprites-transfer-32 {
  background-position: -270px -77px;
  width: 32px;
  height: 32px;
}
.sprites-transfer-small {
  background-position: -240px -318px;
  width: 24px;
  height: 24px;
}
.sprites-units-16 {
  background-position: -432px -342px;
  width: 16px;
  height: 16px;
}
.sprites-units-32 {
  background-position: -494px -45px;
  width: 32px;
  height: 32px;
}
.sprites-units-small {
  background-position: -504px -294px;
  width: 24px;
  height: 24px;
}
.sprites-user-small {
  background-position: -228px -171px;
  width: 28px;
  height: 28px;
}
.sprites-users-16 {
  background-position: -496px -342px;
  width: 16px;
  height: 16px;
}
.sprites-users-32 {
  background-position: -334px -45px;
  width: 32px;
  height: 32px;
}
.sprites-users-small {
  background-position: -72px -270px;
  width: 24px;
  height: 24px;
}
.sprites-visitor-16 {
  background-position: -544px -342px;
  width: 16px;
  height: 16px;
}
.sprites-visitor-32 {
  background-position: -467px -13px;
  width: 32px;
  height: 32px;
}
.sprites-visitor-small {
  background-position: -96px -318px;
  width: 24px;
  height: 24px;
}
.sprites-voucher-16 {
  background-position: 0px -358px;
  width: 16px;
  height: 16px;
}
.sprites-voucher-32 {
  background-position: -371px -13px;
  width: 32px;
  height: 32px;
}
.sprites-voucher-small {
  background-position: -288px -270px;
  width: 24px;
  height: 24px;
}
.sprites-ward-16 {
  background-position: -48px -358px;
  width: 16px;
  height: 16px;
}
.sprites-ward-32 {
  background-position: -366px -173px;
  width: 32px;
  height: 32px;
}
.sprites-ward-small {
  background-position: -528px -270px;
  width: 24px;
  height: 24px;
}
.sprites-workflow-16 {
  background-position: -96px -358px;
  width: 16px;
  height: 16px;
}
.sprites-workflow-32 {
  background-position: -430px -141px;
  width: 32px;
  height: 32px;
}
.sprites-workflow-small {
  background-position: -555px -237px;
  width: 24px;
  height: 24px;
}
