﻿body {
    font-family: "peyvand",Tahoma;
    font-size: 11px;
    font-weight: normal;
    background-repeat: repeat-x;
    margin: 0px;
    padding-bottom: 32px;
    overflow-y: scroll;
}
@font-face {
    font-family: "peyvand";
    src: url('../fonts/IRANSans.woff') format('woff'), url('../fonts/IRANSans.ttf') format('truetype');
}
#topmenu {
    direction: rtl;
}

    #topmenu img {
        width: 25px;
        vertical-align: middle;
        margin-left: 5px;
    }

    #topmenu a {
        color: #fff;
        margin-left: 10px;
    }

        #topmenu a:hover {
            color: #ff0;
        }

h1 {
    color: #4368aa;
    font-family: "peyvand",Arial;
    font-size: 30px;
}

.printBody {
    background-image: url(../img/1bg-min.png);
}

    .printBody table td {
        font-size: 10px;
    }

a, a:link, a:visited {
    text-decoration: none;
}

    a:hover, a:link:hover, a:visited:hover {
        text-decoration: none;
    }

.main {
    direction: ltr;
    border: solid 0px red;
    width: 100%;
    margin-top: 70px;
}

.content {
    margin: 0px auto;
    width: 982px;
    min-height: 520px;
    direction: rtl;
    border: solid 0px blue;
    color: #840;
    font-size: 14px;
}

.footer {
    background-image: url(../img/footer.png);
    background-repeat: repeat-x;
    font-size: 10px;
    height: 32px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 100;
}
/*right*/
.r {
    float: right;
}
/*left*/
.l {
    float: left;
}
/*text right*/
.tr {
    text-align: right;
}
/*text left*/
.tl {
    text-align: left;
}
/*text center*/
.tc {
    text-align: center;
}

.hidden {
    visibility: collapse;
    display: none;
}

.clear {
    clear: both;
}

.round {
    -moz-border-radius: 2em 0.5em 2em 0.5em;
    border-radius: 2em 0.5em 2em 0.5em;
}

.round2 {
    color: #444;
    border: 1px solid #CCC;
    padding: 5px 10px;
    box-shadow: 0px 1px 0px #fff;
    -moz-box-shadow: 0px 1px 0px #fff;
    -webkit-box-shadow: 0px 1px 0px #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    margin: 5px 10px;
}

.option, .option:visited {
    display: block;
    float: right;
    line-height: 20px;
    height: 20px;
    margin: 0 2px;
    padding: 2px;
    min-width: 40px;
}

.optionSel {
    display: block;
    float: right;
    line-height: 30px;
    height: 30px;
    margin: -10px 2px 0px 2px;
    padding: 2px;
    min-width: 40px;
}

.disabled {
    background-color: #ccc;
}

a.disabled, a.disabled:visited, a.disabled:link {
    color: #ccc !important;
    background-color: transparent;
}

#detailForm, #subDetailForm, #declareForm, #detailFormOrder, #detailFormFish {
    direction: rtl;
    text-align: right;
    font-family: "peyvand",Tahoma;
    background: #fff;
    border: 0px solid #fff;
    padding: 10px 4px;
}

#detailForm, #subDetailForm, #declareForm, #detailFormOrder, #detailFormFish {
    direction: rtl;
    text-align: right;
    font-family: "peyvand",Tahoma;
    background: #fff;
    border: 0px solid #fff;
    padding: 10px 4px 5px 4px;
}

#printForm {
    direction: rtl;
    text-align: right;
    line-height: 1cm;
    font-family: "peyvand",Tahoma;
}

.popupTitle {
    background-color: #00496F;
    color: #fff;
    text-align: center;
    font-size: 18px;
    height: 25px;
    line-height: 25px;
    font-family: "peyvand","BYekan";
}

.label0 label {
    display: inline-block;
    min-width: 50px;
    text-align: right;
}

.label01 label {
    display: inline-block;
    min-width: 70px;
    text-align: right;
    font-weight: normal;
}

.label01 input {
    width: 90px;
    min-width: 90px;
}

.label01 select {
    width: 110px;
    min-width: 110px;
}

.label1 label {
    display: inline-block;
    min-width: 80px;
    text-align: right;
}

.lblt label {
    text-align: left;
    margin-right: 15px;
    min-width: 180px;
    display: inline-block;
}

.label2 label {
    display: inline-block;
    min-width: 100px;
    text-align: right;
}


.label5 label {
    display: inline-block;
    min-width: 150px;
    text-align: right;
}

#printForm .label1 span {
    display: inline-block;
    min-width: 80px;
    text-align: right;
}

.label2 select, .label1 select, .label0 select {
    min-width: 140px;
}

.printForm {
    direction: rtl;
    text-align: right;
    line-height: 1cm;
    font-family: "peyvand",Tahoma;
    color: #000;
    padding: 0px;
    margin: 0px;
}

.print label {
    display: inline-block;
    min-width: 100px;
    text-align: left;
    font-weight: bold;
}

.print span {
    display: inline-block;
    min-width: 100px;
    text-align: right;
    margin-right: 5mm;
}

#detailForm input[type="text"], #detailForm input[type="password"], #detailForm select, #detailForm textarea, #subDetailForm input[type="text"], #subDetailForm input[type="password"], #subDetailForm select, #subDetailForm textarea, #declareForm input[type="text"], #declareForm input[type="password"], #declareForm select, #declareForm textarea {
}

.input2#detailForm input[type="text"], .input2#detailForm input[type="password"], .input2#detailForm select, .input2#detailForm textarea, .input2#subDetailForm input[type="text"], .input2#subDetailForm input[type="password"], .input2#subDetailForm select, .input2#subDetailForm textarea, .input2#declareForm input[type="text"], .input2#declareForm input[type="password"], .input2#declareForm select, .input2#declareForm textarea {
    width: 130px;
}

.input3#detailForm input[type="text"], .input3#detailForm input[type="password"], .input3#detailForm select, .input3#detailForm textarea, .input3#subDetailForm input[type="text"], .input3#subDetailForm input[type="password"], .input3#subDetailForm select, .input3#subDetailForm textarea, .input3#declareForm input[type="text"], .input3#declareForm input[type="password"], .input3#declareForm select, .input3#declareForm textarea {
    width: 150px;
}

.narrow, #detailForm input[type="text"].narrow, #subDetailForm input[type="text"].narrow, #declareForm input[type="text"].narrow {
    width: 30px;
}

.n, #detailForm input[type="text"].n, #subDetailForm input[type="text"].n, #declareForm input[type="text"].n {
    width: 30px;
}

.narrow1, #detailForm input[type="text"].narrow1, #subDetailForm input[type="text"].narrow1, #declareForm input[type="text"].narrow1 {
    width: 50px;
}

.n1, #detailForm input[type="text"].n1, #subDetailForm input[type="text"].n1, #declareForm input[type="text"].n1 {
    width: 50px;
}

.narrow15, #detailForm input[type="text"].narrow15, #subDetailForm input[type="text"].narrow15, #declareForm input[type="text"].narrow15 {
    width: 80px;
}

.narrow2, #detailForm input[type="text"].narrow2, #subDetailForm input[type="text"].narrow2, #declareForm input[type="text"].narrow2 {
    width: 100px;
}

.middle1, #detailForm textarea.middle1, #detailForm input.middle1, #subDetailForm textarea.middle1, #subDetailForm input.middle1, #declareForm textarea.middle1, #declareForm input.middle1 {
    width: 250px;
}

.middle, #detailForm textarea.middle, #detailForm input.middle, #subDetailForm textarea.middle, #subDetailForm input.middle, #declareForm textarea.middle, #declareForm input.middle {
    width: 420px;
}

.wide, #detailForm textarea.wide, #detailForm input.wide, #subDetailForm textarea.wide, #subDetailForm input.wide, #declareForm textarea.wide, #declareForm input.wide {
    width: 550px;
}

.wides, #detailForm textarea.wides, #detailForm input.wides, #subDetailForm textarea.wides, #subDetailForm input.wides, #declareForm textarea.wides, #declareForm input.wides {
    width: 600px;
    height: 100px;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}
/* Clinic File Status --> 0:New,1:Paid,2:Canceled */
.cfs_1, .cfs_1:visited {
    background-color: #99CCFF;
    color: #FFFFFF;
}

.cfs0, .cfs0:visited {
    background-color: #FF3300;
    color: #FFFFFF;
}

.cfs1, .cfs1:visited {
    background-color: #339933;
    color: #FFFFFF;
}

.cfs2, .cfs2:visited {
    background-color: #FFFFCC;
}

.unknown {
}
/* File Status --> 0:New,1:Settled,2:Moving;3:OperationReady;4:Release */
.fs0, .cfs0:visited {
    background-color: #FF3300;
    color: #FFFFFF;
}

.fs1, .fs1:visited {
    background-color: #339933;
    color: #FFFFFF;
}

.fs2, .fs2:visited {
    background-color: #FFFFCC;
}

.fs3, .fs3:visited {
    background-color: #FFCC99;
}

.fs4, .fs4:visited {
    background-color: #99CCFF;
}

.unknown {
}
/* table */
.th {
    background-color: #333333;
    color: #CCCCCC;
    text-align: center;
}

.ts /*header*/ {
    font-size: 1px;
    line-height: 1px;
}

img {
    border: none 0px red;
}

.report label {
    display: inline-block;
    min-width: 50px;
    text-align: left;
    font-weight: bold;
}

.report span {
    display: inline-block;
    min-width: 100px;
    text-align: right;
}

.report th {
    background-color: #eee;
}

.borderleft {
    border-left: solid 2px #fff;
}

.theader, .theader td {
    border-bottom: solid 2px #000;
    font-weight: bold;
}

.border {
    border: solid 2px #036;
}

.hospital {
    bbackground-image: url(../img/Hospitalbak.png);
    background-repeat: no-repeat;
}

.clinic {
    bbackground-image: url(../img/clinicbak.png);
    background-repeat: no-repeat;
}

.laboratory {
    bbackground-image: url(../img/laboratorybak.png);
    background-repeat: no-repeat;
}

.pharmacy {
    bbackground-image: url(../img/pharmacybak.png);
    background-repeat: no-repeat;
}

.basics {
    bbackground-image: url(../img/basicsbak.png);
    background-repeat: no-repeat;
}

.accounting {
    bbackground-image: url(../img/accountingbak.png);
    background-repeat: no-repeat;
}

.curMenu {
    background-image: url(../img/curMenu.png);
    background-repeat: no-repeat;
    background-position-x: right;
    margin-top: 10px;
    display: inline-table;
}

.start {
    width: 256px;
}

.ac_input {
    background-color: #FFFFCC;
    background-image: url(../img/ddn.png) !important;
    background-position: left center;
    background-repeat: no-repeat;
}

.new, .newrange {
}

.delete {
    background-image: url(../img/delete.gif);
    background-repeat: no-repeat;
    background-position: right center;
    text-indent: 16px;
}

.edit {
}

.editfm {
    background-image: url(../img/edit.gif);
    background-repeat: no-repeat;
    background-position: right center;
    text-indent: 16px;
    display: inline-block;
    width: 20px;
}

.chooseFM {
    direction: rtl;
    text-align: right;
}

.red, .neg {
    color: #f00;
}

.req {
    background-color: #FF9D9D;
}

.reqi {
    background-color: #99CCFF;
}

/*  Menu */
.menu {
    margin: 0px auto;
}

    .menu .column {
        float: right;
        width: 200px; /*width of each menu column*/
        margin-right: 40px;
        direction: rtl;
    }

        .menu .column ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

            .menu .column ul li {
                padding-bottom: 5px;
            }

        .menu .column h3 {
            font: bold 14px "peyvand",Arial;
            margin: 0 0 5px 0;
            color: red;
            padding-right: 5px;
            border-bottom: solid 1px #036;
            border-rsight: solid 3px #036;
        }

        .menu .column ul li a {
            text-decoration: none;
            font-size: 11px;
            font-weight: bold;
            color: blue;
        }

            .menu .column ul li a:hover {
                color: red;
            }

.title {
    color: #FF8800;
    font-weight: bold;
}

#bar {
    font-family: "peyvand",Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 28px;
    min-height: 28px;
}

#ptitle {
    margin-left: 10px;
}

#filterDiv {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    background: white;
    border: 1px solid #BBB;
    padding: 6px 12px 5px 10px;
    box-shadow: 4px 4px 8px #BBB;
    font: normal 12px "peyvand",Verdana;
    z-index: 100;
    z-index: 1000;
    white-space: nowrap;
}

    #filterDiv label {
        min-width: 100px;
        display: inline-block;
        text-align: center;
        padding-left: 5px;
    }

        #filterDiv label.compact {
            min-width: 0px;
        }

#fComb .radio {
    min-width: 10px;
    display: inline-block;
}

#filterDiv textarea, #filterDiv input[type=text] {
    color: #444;
    border: 1px solid #CCC;
    padding: 2px 4px;
    box-shadow: 0px 1px 0px white;
    -moz-box-shadow: 0px 1px 0px #fff;
    -webkit-box-shadow: 0px 1px 0px white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    margin: 2px 2px;
    width: 130px;
}

.fButtons {
    text-align: center;
}

    .fButtons a, .fButtons a:link, .fButtons a:visited {
        display: inline-block;
        margin: 0px 10px;
    }

.cmdDiv {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    background: white;
    border: 1px solid #BBB;
    padding: 6px 12px 5px 10px;
    box-shadow: 4px 4px 8px #BBB;
    font: normal 12px "peyvand",Verdana;
    z-index: 100;
    z-index: 1000;
    white-space: nowrap;
}

    .cmdDiv a {
        display: block;
        line-height: 200%;
    }

        .cmdDiv a:hover {
            background-color: #ccc;
        }

#menuDiv {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    background: white;
    border: 1px solid #BBB;
    padding: 6px 5px 5px 5px;
    box-shadow: 4px 4px 8px #BBB;
    font: normal 12px "peyvand",Verdana;
    z-index: 100;
    z-index: 1000;
    white-space: nowrap;
    text-align: right;
}

    #menuDiv a, #menuDiv span {
        display: block;
        line-height: 200%;
        padding-right: 5px;
    }

        #menuDiv a:hover {
            background-color: #ccc;
        }

.popup-options-icon-filters, .popup-options-icon-download, .popup-options-icon-downloads, .popup-options-icon-options {
    width: 12px;
    height: 12px;
    background-color: transparent;
    background-image: url(../img/popup-options-icon-set.png);
    border: none !important;
    background-repeat: no-repeat;
    display: inline-block;
    left: 4px;
    top: 2px;
    cursor: pointer;
    position: relative;
    margin: 0px 10px;
}

.popup-options-icon-filters {
    background-position: -24px 0px;
    width: 13px;
}

.filterchecked {
    background-image: url(../img/popup-options-icon-check.png);
}

#filter {
    cursor: pointer;
}


/*
Uploadify
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
Released under the MIT License <http://www.opensource.org/licenses/mit-license.php> 
*/

.uploadify {
    position: relative;
    margin-bottom: 0em;
    float: right;
}

.uploadify-button {
    background-color: #505050;
    background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #505050), color-stop(1, #707070) );
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 2px solid #808080;
    color: #FFF;
    font: bold 12px "peyvand",Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    width: 100%;
}

.uploadify:hover .uploadify-button {
    background-color: #606060;
    background-image: linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #606060), color-stop(1, #808080) );
    background-position: center bottom;
}

.uploadify-button.disabled {
    background-color: #D0D0D0;
    color: #808080;
}

.uploadify-queue {
    margin-bottom: 0em;
    float: right;
    margin-left: 5px;
}

.uploadify-queue-item {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 11px "peyvand",Verdana, Geneva, sans-serif;
    margin-top: 5px;
    max-width: 350px;
    padding: 3px;
}

.error {
    color: #f00 !important;
}

.uploadify-error {
    background-color: #FDE5DD !important;
}

.uploadify-queue-item .cancel a {
    background: url('../img/cancel.png') 0 0 no-repeat;
    float: right;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}

.uploadify-queue-item.completed {
    background-color: #E5E5E5;
}

.uploadify-progress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}

.uploadify-progress-bar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}

/* shift display */
.cell {
    width: 50px;
}

.cellSel {
    border: 1px solid red;
    background-color: #FFC7B7;
}

.autoerror {
    background-color: #f66;
}

.autofill {
    background-color: #99CF7E;
}

/* --------- left menu ---*/
#floatingMenu {
    color: rgb(30, 128, 177);
    direction: rtl;
    display: block;
    font-family: "peyvand",'Unikurd Web', Tahoma, 'DejaVu Sans', Arial, Verdana;
    font-size: 13px;
    height: 31px;
    left: 0px;
    margin-top: -230px;
    position: fixed;
    right: auto;
    top: 50%;
    width: 91px;
    z-index: 500;
}

#floatingMenuTab {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-box-shadow: none;
    -webkit-transform: matrix(0.00000000000000006123233995736766, 1, -1, 0.00000000000000006123233995736766, 0, 0);
    -webkit-transform-origin: 0px 31px;
    background-attachment: scroll;
    background-color: rgb(176, 210, 227);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left: 1px solid rgb(179, 209, 218);
    border-right: 1px solid rgb(179, 209, 218);
    border-top-color: rgb(179, 209, 218);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    direction: rtl;
    display: inline-block;
    font-size: 13px;
    height: 25px;
    white-space: nowrap;
    width: 99px;
}

#floatingMenu #area {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-box-shadow: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ffffff;
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid rgb(179, 209, 218);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: none;
    color: rgb(30, 128, 177);
    direction: rtl;
    display: block;
    font-family: "peyvand",'Unikurd Web', Tahoma, 'DejaVu Sans', Arial, Verdana;
    font-size: 13px;
    left: -272px;
    padding: 0px;
    position: absolute;
    right: auto;
    width: 270px;
    height: 500px;
    overflow-y: scroll;
}

.auto {
    text-align: right;
    direction: rtl;
}

    .auto div {
        display: inline-block;
    }

.autoh {
    background-color: #8AA8D0 !important;
}

    .autoh div {
        display: inline-block;
        text-align: right;
    }
/* service names in details tables */
.snd {
    width: 280px !important;
    margin: 3px 3px !important;
}

.msg {
    font-size: 13px;
    font-weight: bold;
    margin: 20px;
}

.inline {
    display: inline;
}

.Tree {
    font-family: "peyvand",Tahoma;
    font-weight: normal;
    color: black;
    margin-left: 5px;
    margin-right: 1px;
    font-size: 11px;
    line-height: 200%;
}

    .Tree a {
        color: #000;
    }

.TreeSelected {
    font-family: "peyvand",Tahoma;
    font-weight: bold;
    color: black;
    margin-left: 5px;
    margin-right: 1px;
    font-size: 11px;
    line-height: 200%;
    background-color: rgb(255, 243, 161);
}

/*Modal Popup*/
.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup {
    background-color: #f0f8ff;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 250px;
    text-align: right;
}

.modalPopupDrag {
    border-right: gray 1px solid;
    border-top: gray 1px solid;
    border-left: gray 1px solid;
    border-bottom: gray 1px solid;
    cursor: move;
    color: black;
    background-color: #b5daff;
    height: 20px;
    font-weight: bold;
    text-align: center;
}

/* ------ for accounting : start ------- */
.CommandRow {
    background-color: #B8DCFD;
}

.SettingRow {
    background-color: #95c4d1;
}

.Button, .B {
    font-family: "peyvand",Tahoma;
    font-size: 10px;
    border-right: #8AA8D0 1px solid;
    border-top: #8AA8D0 1px solid;
    border-left: #8AA8D0 1px solid;
    color: white;
    border-bottom: #8AA8D0 1px solid;
    background-color: #315599;
}


.GridFooter {
    background-color: #CCCCFF;
    font-family: "peyvand",Tahoma;
    font-size: 11px;
    font-weight: normal;
}

.GridRow {
    color: black;
    font-family: "peyvand",Tahoma;
    font-size: 11px;
    text-align: right;
}

.GridAltRow2 {
    background-color: #eeeeee;
    font-family: "peyvand",Tahoma;
    font-size: 11px;
    text-align: right;
}

.BigGridRow {
    color: black;
    font-family: "peyvand",Tahoma;
    font-size: 9px;
    text-align: right;
}

.BigGridHeader {
    font-family: "peyvand",Tahoma;
    font-size: 10px;
    text-align: center;
}

.BigGridFooterLabel {
    font-size: 8px;
}

.Title, .Value {
    font-family: "peyvand",Tahoma;
    font-size: 13px;
    font-weight: bold;
    line-height: 150%;
}

.Title {
    color: #006699;
}

.SubTitle {
    font-family: "peyvand",Tahoma;
    font-size: 11px;
    font-weight: bold;
    line-height: 150%;
    color: #107ab0;
}

.Value {
    color: #FF0066;
}

.Combo, .C {
    font-family: "peyvand",Tahoma;
    font-size: 10px;
    background-color: #ECF6FE;
    border-right: #8AA8D0 1px solid;
    border-top: #8AA8D0 1px solid;
    border-left: #8AA8D0 1px solid;
    border-bottom: #8AA8D0 1px solid;
}

.boldLeftFooter {
    font-weight: bold;
    text-align: left;
}
/* ------ for accounting : end ------- */

.invalid {
    background-color: #ff7D64 !important;
}

.unbalance {
    background-color: red !important;
}

.monetary {
    background-color: #b0d2e3;
}

.treegrid-indent {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
}

.treegrid-expander {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    -moz-background-position-y: 3px;
    -o-background-position-y: 3px;
    background-position-y: 3px;
}

.treegrid-expander-expanded {
    background-image: url(../img/collapse.png);
}

.treegrid-expander-collapsed {
    background-image: url(../img/expand.png);
}

.expanded {
    background-image: url(../img/collapse.png);
    background-position: left center;
    background-repeat: no-repeat;
}

/*.collapsed {
    background-image: url(../img/expand.png);
    background-position: left center;
    background-repeat: no-repeat;
}*/

.hasChild {
    color: #eb1731;
    cursor: pointer;
}

.select {
    cursor: pointer;
}


/*   flexi */
@charset "UTF-8";
/* CSS Document */
.flexigrid {
    position: relative;
    border: 0px solid #eee;
    overflow: hidden;
}

    .flexigrid.hideBody {
        height: 26px !important;
        border-bottom: 0px solid #ccc;
    }

.ie6fullwidthbug {
    border-right: 0px solid #ccc;
    padding-right: 2px;
}

.flexigrid div.nDiv {
    background: #eee url(../img/flexi/line.gif) repeat-y -1px top;
    border: 0px solid #ccc;
    border-top: 0px;
    overflow: auto;
    left: 0px;
    position: absolute;
    z-index: 999;
    float: right;
}

    .flexigrid div.nDiv table {
        margin: 2px;
    }

.flexigrid div.hDivBox {
    float: right;
    padding-right: 0px;
}

.flexigrid div.bDiv table {
    margin-bottom: 10px;
}

    .flexigrid div.bDiv table.autoht {
        border-bottom: 0px;
        margin-bottom: 0px;
    }

.flexigrid div.nDiv td {
    padding: 2px 3px;
    border: 0px solid #eee;
    cursor: default;
}

.flexigrid div.nDiv tr:hover td, .flexigrid div.nDiv tr.ndcolover td {
    background-color: #d5effc;
    border: 0px solid #a8d8eb;
}

.flexigrid div.nDiv td.ndcol1 {
    border-right: 0px solid #ccc;
}

.flexigrid div.nDiv td.ndcol2 {
    border-left: 0px solid #fff;
    padding-right: 10px;
}

.flexigrid div.nDiv tr:hover td.ndcol1, .flexigrid div.nDiv tr.ndcolover td.ndcol1 {
    border-right: 0px solid #d2e3ec;
}

.flexigrid div.nDiv tr:hover td.ndcol2, .flexigrid div.nDiv tr.ndcolover td.ndcol2 {
    border-left: 0px solid #eef8ff;
}

.flexigrid div.nBtn {
    position: absolute;
    height: 24px;
    width: 14px;
    z-index: 900;
    background: #fafafa url(../img/flexi/fhbg.gif) repeat-x bottom;
    border: 0px solid #ccc;
    border-left: 0px solid #ccc;
    top: 0px;
    right: 0px;
    margin-top: 1px;
    cursor: pointer;
    display: none;
}

    .flexigrid div.nBtn div {
        height: 24px;
        width: 12px;
        border-left: 0px solid #fff;
        float: right;
        background: url(../img/flexi/ddn.png) no-repeat center;
    }

    .flexigrid div.nBtn.srtd {
        background: url(../img/flexi/wbg.jpg) repeat-x 0px -1px;
    }

.flexigrid div.mDiv {
    bbackground: url(../img/flexi/wbg.jpg) repeat-x top;
    border: 0px solid #ccc;
    border-bottom: 0px;
    border-top: 0px;
    font-weight: bold;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

    .flexigrid div.mDiv div {
        padding: 6px;
        white-space: nowrap;
    }

        .flexigrid div.mDiv div.ptogtitle {
            position: absolute;
            top: 4px;
            right: 3px;
            padding: 0px;
            height: 16px;
            width: 16px;
            overflow: hidden;
            border: 0px solid #ccc;
            cursor: pointer;
        }

            .flexigrid div.mDiv div.ptogtitle:hover {
                background-position: left -2px;
                border-color: #bbb;
            }

            .flexigrid div.mDiv div.ptogtitle span {
                display: block;
                border-left: 0px solid #eee;
                border-top: 1px solid #fff;
                border-bottom: 0px solid #ddd;
                width: 14px;
                height: 14px;
                background: url(../img/flexi/uup.png) no-repeat center;
            }

            .flexigrid div.mDiv div.ptogtitle.vsble span {
                background: url(../img/flexi/ddn.png) no-repeat center;
            }

.flexigrid div.tDiv /*toolbar*/ {
    background: #fafafa url(../img/flexi/bg.gif) repeat-x top;
    position: relative;
    border: 0px solid #ccc;
    border-bottom: 0px;
    overflow: hidden;
}

.flexigrid div.tDiv2 {
    float: right;
    clear: both;
    padding: 1px;
}

.flexigrid div.sDiv /*toolbar*/ {
    background: #fafafa url(../img/flexi/bg.gif) repeat-x top;
    position: relative;
    border: 0px solid #ccc;
    border-top: 0px;
    overflow: hidden;
    display: none;
}

.flexigrid div.sDiv2 {
    float: right;
    clear: both;
    padding: 5px;
    padding-left: 5px;
    width: 1024px;
}

    .flexigrid div.sDiv2 input, .flexigrid div.sDiv2 select {
        vertical-align: middle;
    }

.flexigrid div.btnseparator {
    float: right;
    height: 22px;
    border-left: 0px solid #ccc;
    border-right: 0px solid #fff;
    margin: 1px;
}

.flexigrid div.fbutton {
    float: right;
    display: block;
    cursor: pointer;
    padding: 1px;
}

    .flexigrid div.fbutton div {
        float: right;
        padding: 1px 3px;
    }

    .flexigrid div.fbutton span {
        float: right;
        display: block;
        padding: 3px;
    }

    .flexigrid div.fbutton:hover, .flexigrid div.fbutton.fbOver {
        padding: 0px;
        border: 0px solid #ccc;
    }

        .flexigrid div.fbutton:hover div, .flexigrid div.fbutton.fbOver div {
            padding: 0px 2px;
            border-left: 0px solid #fff;
            border-top: 1px solid #fff;
            border-right: 0px solid #eee;
            border-bottom: 0px solid #eee;
        }

/* end toolbar*/
.flexigrid div.hDiv {
    bbackground: #fafafa url(../img/flexi/fhbg.gif) repeat-x bottom;
    position: relative;
    border: 0px solid #ccc;
    border-bottom: 0px;
    overflow: hidden;
    font-weight: bold;
    color: #ff7c09;
}

    .flexigrid div.hDiv table {
        border-right: 0px solid #fff;
        border-left: 0px solid #fff;
    }

.flexigrid div.cDrag {
    float: right;
    position: absolute;
    z-index: 2;
    overflow: visible;
}

    .flexigrid div.cDrag div {
        float: right;
        background: none;
        display: block;
        position: absolute;
        height: 24px;
        width: 5px;
        cursor: col-resize;
    }

        .flexigrid div.cDrag div:hover, .flexigrid div.cDrag div.dragging {
            background: url(../img/flexi/line.gif) repeat-y 2px center;
        }

.flexigrid div.iDiv {
    border: 0px solid #316ac5;
    position: absolute;
    overflow: visible;
    background: none;
}

    .flexigrid div.iDiv input, .flexigrid div.iDiv select, .flexigrid div.iDiv textarea {
        font-family: "peyvand",Arial, Helvetica, sans-serif;
        font-size: 11px;
    }

        .flexigrid div.iDiv input.tb {
            border: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
            padding: 0px;
            background: none;
        }

.flexigrid div.bDiv {
    border: 0px solid #ccc;
    border-top: 0px;
    bbackground: #fff;
    overflow: auto;
    position: relative;
}

    .flexigrid div.bDiv table {
        border-bottom: 0px solid #ccc;
    }

.flexigrid div.hGrip {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 5px;
    width: 5px;
    background: url(../img/flexi/line.gif) repeat-x center;
    margin-right: 1px;
    cursor: col-resize;
}

    .flexigrid div.hGrip:hover, .flexigrid div.hGrip.hgOver {
        border-right: 0px solid #999;
        margin-right: 0px;
    }

.flexigrid div.vGrip {
    height: 5px;
    overflow: hidden;
    position: relative;
    background: #fafafa url(../img/flexi/wbg.jpg) repeat-x 0px -1px;
    border: 0px solid #ccc;
    border-top: 0px;
    text-align: center;
    cursor: row-resize;
}

    .flexigrid div.vGrip span {
        display: block;
        margin: 1px auto;
        width: 20px;
        height: 1px;
        overflow: hidden;
        border-top: 1px solid #aaa;
        border-bottom: 0px solid #aaa;
        background: none;
    }

.flexigrid div.hDiv th, .flexigrid div.bDiv td
/* common cell properties*/ {
    text-align: left;
    border-right: 0px solid #ddd;
    border-left: 0px solid #fff;
    overflow: hidden;
    vertical-align: top !important;
    padding-left: 0;
    padding-right: 0;
}

    .flexigrid div.hDiv th div, .flexigrid div.bDiv td div, div.colCopy div
    /* common inner cell properties*/ {
        padding: 5px;
        border-left: 0px solid #fff;
    }

.flexigrid div.hDiv th, div.colCopy {
    font-weight: bold;
    height: 24px;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
}

div.colCopy {
    font-family: "peyvand",Arial, Helvetica, sans-serif;
    font-size: 11px;
    background: #fafafa url(../img/flexi/fhbg.gif) repeat-x bottom;
    border: 0px solid #ccc;
    border-bottom: 0px;
    overflow: hidden;
}

.flexigrid div.hDiv th.sorted {
    background: url(../img/flexi/wbg.jpg) repeat-x 0px -1px;
    border-bottom: 0px solid #ccc;
}

.flexigrid div.hDiv th.thOver {
}

    .flexigrid div.hDiv th.thOver div, .flexigrid div.hDiv th.sorted.thOver div {
        border-bottom: 0px solid orange;
        padding-bottom: 4px;
    }

.flexigrid div.hDiv th.sorted div {
    border-bottom: 0px solid #ccc;
    padding-bottom: 5px;
}

.flexigrid div.hDiv th.thMove {
    background: #fff;
    color: #fff;
}

.flexigrid div.hDiv th.sorted.thMove div {
    border-bottom: 0px solid #fff;
    padding-bottom: 4px;
}

.flexigrid div.hDiv th.thMove div {
    background: #fff !important;
}

.flexigrid div.hDiv th div.sdesc {
    background: url(../img/flexi/dn.png) no-repeat center top;
}

.flexigrid div.hDiv th div.sasc {
    background: url(../img/flexi/up.png) no-repeat center top;
}

.flexigrid div.bDiv td {
    background: #fff;
    border-bottom: 0px solid #fff;
    vertical-align: top;
    white-space: nowrap;
}

.flexigrid div.hDiv th div {
}

.flexigrid span.cdropleft {
    display: block;
    background: url(../img/flexi/prev.gif) no-repeat -4px center;
    width: 24px;
    height: 24px;
    position: relative;
    top: -24px;
    margin-bottom: -24px;
    z-index: 3;
}

.flexigrid div.hDiv span.cdropright {
    display: block;
    background: url(../img/flexi/next.gif) no-repeat 12px center;
    width: 24px;
    height: 24px;
    float: left;
    position: relative;
    top: -24px;
    margin-bottom: -24px;
}

.flexigrid div.bDiv td div {
    border-top: 0px solid #fff;
    padding-bottom: 4px;
}

.flexigrid tr td.sorted {
    background: #f3f3f3;
    border-right: 0px solid #ddd;
    border-bottom: 0px solid #f3f3f3;
}

    .flexigrid tr td.sorted div {
    }

.flexigrid tr.erow td {
    background: #f7f7f7;
    border-bottom: 0px solid #f7f7f7;
}

    .flexigrid tr.erow td.sorted {
        background: #e3e3e3;
        border-bottom: 0px solid #e3e3e3;
    }

        .flexigrid tr.erow td.sorted div {
        }

.flexigrid div.bDiv tr:hover td, .flexigrid div.bDiv tr:hover td.sorted, .flexigrid div.bDiv tr.trOver td.sorted, .flexigrid div.bDiv tr.trOver td {
    background: #d9ebf5;
    border-left: 0px solid #eef8ff;
    border-bottom: 0px dotted #a8d8eb;
}

.flexigrid div.bDiv tr.trSelected:hover td, .flexigrid div.bDiv tr.trSelected:hover td.sorted, .flexigrid div.bDiv tr.trOver.trSelected td.sorted, .flexigrid div.bDiv tr.trOver.trSelected td, .flexigrid tr.trSelected td.sorted, .flexigrid tr.trSelected td {
    background-color: #444 !important;
    border-right: 0px solid #d2e3ec;
    border-left: 0px solid #eef8ff;
    border-bottom: 0px solid #a8d8eb;
    color: #fff !important;
}

/* novstripe adjustments */
.flexigrid.novstripe .bDiv table {
    border-bottom: 0px solid #ccc;
    border-right: 0px solid #ccc;
}

.flexigrid.novstripe div.bDiv td {
    border-right-color: #fff;
}

.flexigrid.novstripe div.bDiv tr.erow td.sorted {
    border-right-color: #e3e3e3;
}

.flexigrid.novstripe div.bDiv tr td.sorted {
    border-right-color: #f3f3f3;
}

.flexigrid.novstripe div.bDiv tr.erow td {
    border-right-color: #f7f7f7;
    border-left-color: #f7f7f7;
}

.flexigrid.novstripe div.bDiv tr.trSelected:hover td, .flexigrid.novstripe div.bDiv tr.trSelected:hover td.sorted, .flexigrid.novstripe div.bDiv tr.trOver.trSelected td.sorted, .flexigrid.novstripe div.bDiv tr.trOver.trSelected td, .flexigrid.novstripe tr.trSelected td.sorted, .flexigrid.novstripe tr.trSelected td {
    border-right: 0px solid #0066FF;
    border-left: 0px solid #0066FF;
}

.flexigrid.novstripe div.bDiv tr.trOver td, .flexigrid.novstripe div.bDiv tr:hover td {
    border-left-color: #d9ebf5;
    border-right-color: #d9ebf5;
}

/* end novstripe */
.flexigrid div.pDiv {
    background: url(../img/flexi/wbg.jpg) repeat-x 0 -1px;
    border: 0px solid #ccc;
    border-top: 0px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

    .flexigrid div.pDiv div.pDiv2 {
        margin: 3px;
        margin-left: -2px;
        float: right;
        width: 1024px;
    }

div.pGroup {
    float: right;
    background: none;
    height: 24px;
    margin: 0px 5px;
}

.flexigrid div.pDiv .pPageStat, .flexigrid div.pDiv .pcontrol {
    position: relative;
    top: 5px;
    overflow: visible;
}

.flexigrid div.pDiv input {
    vertical-align: text-top;
    position: relative;
    top: -5px;
}

.flexigrid div.pDiv div.pButton {
    float: right;
    width: 22px;
    height: 22px;
    border: 0px;
    cursor: pointer;
    overflow: hidden;
}

    .flexigrid div.pDiv div.pButton:hover, .flexigrid div.pDiv div.pButton.pBtnOver {
        border: 0px solid #ccc;
        cursor: pointer;
    }

    .flexigrid div.pDiv div.pButton span {
        width: 20px;
        height: 20px;
        display: block;
        float: right;
    }

    .flexigrid div.pDiv div.pButton:hover span, .flexigrid div.pDiv div.pButton.pBtnOver span {
        width: 19px;
        height: 19px;
        border-top: 1px solid #fff;
        border-left: 0px solid #fff;
    }

.flexigrid .pSearch {
    background: url(../img/flexi/magnifier.png) no-repeat center;
}

.flexigrid .pFirst {
    background: url(../img/flexi/last.gif) no-repeat center;
}

.flexigrid .pPrev {
    background: url(../img/flexi/next.gif) no-repeat center;
}

.flexigrid .pNext {
    background: url(../img/flexi/prev.gif) no-repeat center;
}

.flexigrid .pLast {
    background: url(../img/flexi/first.gif) no-repeat center;
}

.flexigrid .pReload {
    background: url(../img/flexi/load.png) no-repeat center;
}

    .flexigrid .pReload.loading {
        background: url(../img/flexi/load.gif) no-repeat center;
    }

/* ie adjustments */
.flexigrid.ie div.hDiv th div, .flexigrid.ie div.bDiv td div, div.colCopy.ie div
/* common inner cell properties*/ {
    overflow: hidden;
}

/* impromptu */
.jqifade {
    position: absolute;
    background-color: #aaaaaa;
}

div.jqi {
    position: absolute;
    background-color: #ffffff;
    text-align: left;
    border: solid 2px #00496F;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0px;
}

    div.jqi .jqicontainer {
        font-weight: normal;
    }

    div.jqi .jqiclose {
        position: absolute;
        top: 4px;
        right: -2px;
        width: 18px;
        cursor: default;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
    }

    div.jqi .jqimessage {
        padding: 0px;
        line-height: 20px;
        color: #00496F;
    }

    div.jqi .jqibuttons {
        text-align: center;
        padding: 5px 0 5px 0;
        direction: rtl;
    }

    div.jqi button {
        margin-left: 5px;
    }

.jqiwarning .jqi .jqibuttons {
    background-color: #BF5E26;
}



.yscroll {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    padding-right: 10px;
    padding-left: 10px;
}

    .yscroll.compact {
        padding-right: 1px;
        padding-left: 1px;
    }


.brk {
    display: inline-block;
    width: 0px;
    min-width: 0px !important;
}

.brkt {
    height: 0;
    display: block !important;
}

.col7 {
    width: 70%;
}

.col3 {
    width: 30%;
}

#breadcrumb {
    margin-bottom: 10px;
    background-color: #eee;
}

#subgroups a {
    display: inline-block;
}

.browsediv {
    border: 1px solid #8AA8D0;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 5px;
}

/* Smartphones ----------- */
@media only screen and (max-width: 700px) {
    .content {
        width: 100%;
    }

    #topmenu img {
        width: 50px;
    }

    #detailForm input[type="text"]:after {
        content: "XXXXX \A YYYYY ";
        white-space: pre; /* or pre-wrap */
    }

    #detailForm input[type="text"] {
        color: blue;
    }

    .lblt1 label {
        float: none;
        text-align: right;
    }

    .hideso {
        display: none;
    }

    .col7, .col3 {
        width: 100%;
    }
}



.colored tr:nth-child(even) {
}

.colored tr:nth-child(odd) {
    background-color: #ddd;
}

.colored tr.th {
    background-color: #333333;
    color: #CCCCCC;
    text-align: center;
}

.selected, .colored tr.selected {
    background-color: #f6760a !important;
}

.full-width {
    width: 100% !important;
}

.formula {
    background-color: #99CF7E;
}

#chprint {
    /*background-image:url(../img/icons/print.png);
    background-repeat:no-repeat;
    width:16px;
    height:16px;
    display:inline-block;
    cursor: pointer;
    line-height: 28px;*/
}

.voucher-item-highlight {
    height: 30px;
    line-height: 30px;
    width: 500px;
    border: red solid 1px;
    background-color: #b0ecff !important;
}

.samelevel {
    cursor: pointer;
}

.rdiv {
    border-style: solid;
    border-width: medium;
    height: 300px;
    width: 50%;
    float: right;
}

.ldiv {
    border-style: solid;
    border-width: medium;
    height: 300px;
    width: 50%;
    float: left;
}

.headerspan {
    font-size: 16px;
    text-align: center;
}

.R_order {
    padding: 4px;
    border-style: solid;
    border-width: medium;
    height: 400px;
    width: 25%;
    float: right;
}

.C_order {
    padding: 4px;
    border-style: solid;
    border-width: medium;
    height: 400px;
    width: 25%;
    float: right;
}

.L_order {
    padding: 4px;
    border-style: solid;
    border-width: medium;
    height: 400px;
    width: 25%;
    float: left;
}

.lbleft label {
    display: inline-block;
    min-width: 90px;
    text-align: left;
}

.lbleft select {
    width: 145px;
}

.lbleft1 label {
    display: inline-block;
    min-width: 472px;
    text-align: left;
}

.visited {
    background-color: darkseagreen !important;
}

.sumRow {
    color: #BE4100;
}

.editing {
    background-color: #0099ff !important;
}

.formula {
    width: 1000px;
    text-align: left;
}

.hint {
    background-color: #95c4d1;
}

.colSelection {
    text-align: right;
    direction: rtl;
    padding: 10px 30px;
}

.font-20 {
    font-size: 20px;
}

.height-25 {
    height: 25px;
}

.important {
    background-color: #b0d2e3;
}

#treeremain {
    font-weight: bold;
}

    #treeremain .row {
        background-color: #f7f7f7;
        line-height: 200%;
    }

    #treeremain .parent {
        cursor: pointer;
    }

    #treeremain .leaf {
        cursor: default;
    }

    #treeremain .l1 {
        margin: 5px 0px !important;
    }


    #treeremain .val {
        padding: 3px;
    }

    #treeremain .row .row {
        padding: 0px;
        margin: 0px;
    }

    #treeremain .due {
        background-color: #f0f0f0;
    }

    #treeremain .due {
        border-right: #DEDEDE solid 2px;
    }

    #treeremain .l2, #treeremain .l3, #treeremain .l4, #treeremain .l4, #treeremain .l5, #treeremain .l6, #treeremain .l7 {
        background-color: #99CCFF;
    }

    #treeremain .expand {
        color: #FE7713;
    }

.dropdown-menu.right {
    left: 0;
    right: auto;
}

#flexi {
    table-layout: fixed;
}

    #flexi td {
        white-space: nowrap;
        overflow: hidden; /* <- this does seem to be required */
        text-overflow: ellipsis;
    }

#scondFlexi {
    table-layout: fixed;
}

    #scondFlexi td {
        white-space: nowrap;
        overflow: hidden; /* <- this does seem to be required */
        text-overflow: ellipsis;
    }

.headerfixed {
}


    .headerfixed .th div {
        position: absolute;
        padding: 6px 2px 4px 2px;
        top: 0;
        margin-left: -25px;
        line-height: normal;
        display: flex;
        background-color: #dce9f9;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
        background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
        background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
        background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
        background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
        background-image: linear-gradient(top, #ebf3fc, #dce9f9);
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        border-top: none;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        color: #444444;
        z-index: 102;
    }

.dummyth {
    position: absolute;
    top: 0;
    height: 33px;
    z-index: 100;
    width: 100%;
    padding-left: 50px;
}

    .dummyth div {
        height: 30px;
        display: inline-block;
        background-color: #dce9f9;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
        background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
        background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
        background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
        background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
        background-image: linear-gradient(top, #ebf3fc, #dce9f9);
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        width: 100%;
        margin-right: 0;
    }

.tab_content .dummyth, .tab_content .headerfixed .th div {
    top: auto;
    height: 30px;
}

    .tab_content .headerfixed .th div img {
        padding: 2px;
    }

.fixed {
    top: 0;
    position: fixed;
    width: auto;
    display: none;
    border: none;
}

.scrollMore {
    margin-top: 600px;
}

.bold {
    font-weight: bold;
}

.paidRow {
    background-color: aquamarine;
}

.notPaidRow {
    background-color: #ff9d9d;
}

.rule-value-container .chosen-container {
    min-width: 200px;
}

.thead {
    display: inline-block;
}

.tbody {
    overflow-y: auto;
    max-height: 150px;
    display: inline-block;
}

.padding0 {
    padding: 0 !important;
}

.calculatepursantshowbtn {
    margin-right: 50px;
}

.red1 {
    background-color: #e87373 !important;
}

.factornoSR2 {
    font-size: 20px;
}

.factorrowsCSR2 {
    border-color: #808080;
    border-width: 1px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
}

.factorheaderCSR2 {
    border-color: #d0d0d0;
    border-width: 1px;
    border-style: solid;
}

.factorsumrow {
    background-color: #8aa8d0 !important;
}

.accesspanel-body {
    padding: 3px !important;
}

.accesspanel {
    margin-bottom: 9px !important;
}

.reportbutton {
    width: 60px !important;
    height: 30px !important;
}

/*new menu*/
.horizental-menu {
    margin-top: 100px;
}

    .horizental-menu a {
        text-decoration: none;
        color: #fff;
        margin: 0 10px;
    }

    .horizental-menu .btn {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: relative;
        display: inline-block;
        overflow: hidden;
        height: 53px;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        line-height: 30px;
        font-size: 14px;
        font-weight: bold;
        text-shadow: 0px 1px 1px #888;
        padding: 0 !important;
        border: none !important;
    }
    .horizental-menu .btn img {
        margin-top: 15px;
        margin-left: 0;
    }
        .horizental-menu .btn span.icon,
        .horizental-menu .btn span.title {
            display: block;
            position: relative;
            line-height: 50px;
            border-radius: 6px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            
        }

        .horizental-menu .btn span.left {
            float: left;
            border-radius: 6px 0 0 6px;
            -moz-border-radius: 6px 0 0 6px;
            -webkit-border-radius: 6px 0 0 6px;
        }

        .horizental-menu .btn span.right {
            float: right;
            border-radius: 0 6px 6px 0;
            -moz-border-radius: 0 6px 6px 0;
            -webkit-border-radius: 0 6px 6px 0;
            padding-right: 15px;
            width: 25%;
        }

        .horizental-menu .btn span.icon {
            font-size: 23px;
            background-color: #3498db;
            -webkit-box-shadow: 0 3px 0 0 #2283c3;
            box-shadow: 0 3px 0 0 #2283c3;
            text-shadow: 0px 1px 1px #888;
            width: 35%;
        }

        .horizental-menu .btn span.title {
            background-color: transparent;
            width: 70%;
            color: #fff;
            font-weight: normal;
        }

        .horizental-menu .btn span.arrow-left,
        .horizental-menu .btn span.arrow-right {
            position: absolute;
            width: 0;
            height: 0;
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
            -webkit-transition: all .15s;
            -transition: all .15s;
            -webkit-transition-property: left, right;
            transition-property: left, right;
        }

        .horizental-menu .btn.left span.arrow-left {
            right: 0;
            -webkit-box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
            box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
            border-right: 10px solid #00cdae;
        }

        .horizental-menu .btn.right span.arrow-left {
            right: 0;
            -webkit-box-shadow: 10px 0 0 0 #3498db, 10px 3px 0 0 #2283c3;
            box-shadow: 10px 0 0 0 #3498db, 10px 3px 0 0 #2283c3;
            border-right: 10px solid #3498db;
        }

        .horizental-menu .btn.left span.arrow-right {
            left: 0;
            -webkit-box-shadow: -10px 0 0 0 #00967f, -10px 3px 0 0 #007261;
            box-shadow: -10px 0 0 0 #00967f, -10px 3px 0 0 #007261;
            border-left: 10px solid #00967f;
        }

        .horizental-menu .btn.right span.arrow-right {
            left: 0;
            -webkit-box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
            box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
            border-left: 10px solid #00cdae;
        }

        .horizental-menu .btn span.slant-left,
        .horizental-menu .btn span.slant-right {
            position: absolute;
            width: 0;
            height: 0;
            border-top: 0 solid transparent;
            border-bottom: 50px solid transparent;
            -webkit-transition: all .15s;
            -transition: all .15s;
            -webkit-transition-property: left, right;
            transition-property: left, right;
        }

        .horizental-menu .btn.left span.slant-right {
            left: 0;
            -webkit-box-shadow: -10px 0 0 0 #00967f, -10px 3px 0 0 #007261;
            box-shadow: -10px 0 0 0 #00967f, -10px 3px 0 0 #007261;
            border-left: 10px solid #00967f;
        }

        .horizental-menu .btn.right span.slant-right {
            left: 0;
            -webkit-box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
            box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
            border-left: 10px solid #00cdae;
        }

        .horizental-menu .btn.left span.slant-left {
            right: 0;
            -webkit-box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
            box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
            border-right: 10px solid #00cdae;
        }

        .horizental-menu .btn.right span.slant-left {
            right: 0;
            -webkit-box-shadow: 10px 0 0 0 #00967f, 10px 3px 0 0 #007261;
            box-shadow: 10px 0 0 0 #00967f, 10px 3px 0 0 #007261;
            border-right: 10px solid #00967f;
        }

        .horizental-menu .btn:active,
        .horizental-menu .btn.active {
            /*height: 51px;*/
        }

        .horizental-menu .btn:hover {
        }

            .horizental-menu .btn:hover span.arrow-left {
                right: 10px;
            }

            .horizental-menu .btn:hover span.arrow-right {
                left: 10px;
            }

            .horizental-menu .btn:hover span.slant-left {
                right: 10px;
            }

            .horizental-menu .btn:hover span.slant-right {
                left: 10px;
            }

    .horizental-menu .btn-small {
        height: 30px;
        font-size: 12px;
        line-height: 10px;
    }

    .horizental-menu a.btn-small span.btn {
        height: 30px;
    }

    .horizental-menu .form-group {
        padding: 30px 0;
        width: 100%;
    }
    .horizental-menu a.btn:hover .title{
        width: 70%;
        -webkit-transition: width 1s ease-out;
        transition: width 1s ease-out;
        padding: 0 30px;
    }
    .startfeildrepeated {
        background-color: red !important;
    }
.sdnewperson {
    border-radius: 17px !important;
}
.monetaryunitabbreviation {
    text-align: center !important;
    margin-top: 1%;
    color: white;
    top: 4px;
    font-size: 20px;
    position: absolute !important;
    right: 50%;
}
.jqiclose {
    display: none;
 }
.pricetooltiptablediv {
    max-height: 200px !important;
    max-width: 4500px !important;
    overflow: scroll !important;
    padding: 0 !important;

}
.pricetooltiptable td {
     padding: 7px;
     border-left: 1px solid #ccc;
     border-top: 1px solid #ccc;
}
.alert-success {
    color: #444 !important;
    background-color: rgb(209, 236, 249) !important;
    border-color: #eee !important;
}
