﻿.table-with-border {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.table-without-border {
    border: 0 solid transparent;
}

.table-with-simple-border {
    border: 1px solid #222222;
}

.table-with-border tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.table-with-border td, .table-with-border th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

@media (max-width: 992px) {
    .table-with-border td, .table-with-border th {
        border-left: none;
        border-top: none;
    }
}

.table-with-border th, .table-with-border tr.th, .table-with-border tr.GridHeader {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    color: #444444;
}

.table-with-border th, .table-with-border tr.th td {
    padding: 6px;
}

.table-with-border td:last-child, .table-with-border th:last-child {
    border-left: none;
}

.table-with-border th:last-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.table-with-border th:first-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.table-with-border th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.table-with-border tr:last-child td:last-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.table-with-border tr:last-child td:first-child {
    /*-moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;*/
}

.table-with-padding th, .table-with-padding td {
    padding: 6px;
}


/*----------------------*/

.zebra td, .zebra th {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;    
}

.zebra tbody tr:nth-child(even) {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
}

.zebra th {
    text-align: right;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
    border-bottom: 1px solid #ccc;
}

.zebra th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;  
}

.zebra th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.zebra th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.zebra tfoot td {
    border-bottom: 0;
    border-top: 1px solid #fff;
    background-color: #f1f1f1;  
}

.zebra tfoot td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.zebra tfoot td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.zebra tfoot td:only-child{
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px
    border-radius: 0 0 6px 6px
}

.awesome-table {
  min-width: 285px;
}
.awesome-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.awesome-table th, .awesome-table tr.th{
  display: none;
}
.awesome-table td {
  display: block;
}
.awesome-table td:first-child {
  padding-top: .5em;
}
.awesome-table td:last-child {
  padding-bottom: .5em;
}
.awesome-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  /*width: 6.5em;*/
  display: block;
}

tr.empty-row td:before {
    content: '';
}

.awesome-table td.action-remove:before {
  display: none;
}

@media (min-width: 992px) {
  .awesome-table td:before {
    display: none;
  }
}
.awesome-table th, .awesome-table td {
  text-align: right;
}
@media (min-width: 992px) {
  .awesome-table th, .awesome-table td {
    display: table-cell;
    padding: .25em;
  }

    .awesome-table.condensed th, .awesome-table.condensed td {
        padding-bottom: 0!important;
    }

  .awesome-table tr.th {
      display: table-row;
  }
}

.awesome-table tr td div.wrapped-content {
    display: block;
}

.awesome-table tr td div.unwrapped-content {
    display: none;
}

@media (max-width: 992px) {
    .awesome-table td.align-center {
        text-align: right!important;
    }

    .awesome-table td.row-number:before, .awesome-table td.row-cell:before, .awesome-table td.compact:before {
        display: inline-block;
        white-space: nowrap;
    }

    .awesome-table.condensed td:before, .awesome-table.condensed td div {
        display: inline-block;
    }
    .awesome-table.condensed td {
        padding: 0.5em!important;
    }

    .awesome-table tr td div.wrapped-content {
        display: none;
    }

    .awesome-table tr td div.unwrapped-content {
        display: inline-block;
    }
    .dummyth {
        display: none;
    }
}

div.scrollTableContainer {
width: auto;
margin: 15px 0 0 0;
position: relative;
}

div.scrollTableContainer thead tr {
      display: block;
      position: relative;
}
body div.scrollTableContainer table>tbody {
    display: block;
    position:absolute;
    overflow-y:scroll;
    width: auto;
    height: 500px;
}
