﻿ul.tabs {
	margin: 0;
	padding: 0 1px 0 0;
	float: right;
	list-style: none;
	border-bottom: 0px solid #999;
	border-left: 0px solid #999;
	width: 100%;
}
ul.tabs li {
	float: right;
	margin: 0;
	padding: 5px 30px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	background: #e0e0e0;
	overflow: hidden;
	position: relative;
    cursor: pointer;
}

ul.tabs li:last-child {
    border-left: 1px solid #999;
}

ul.tabs li:hover {
    background-color: #cccccc;
}

ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 2px;
	outline: none;
}
html ul.tabs li.active {
	background: #fff;
	border-bottom: 1px solid #dddddd;
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.tab_content {
	padding: 8px 0 5px 0;
	font-size: 11px;
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;
}
.tab_content h3 a{
	color: #254588;
}
.tab_content img {
	padding: 5px;
}