﻿.main-container {
    display: table;
    width: 100%;
}
.sidebar {
    display: table-cell;
    height: 100%;
    /*background: url(../img/icons/bg-noise.png);*/
    background-color: #fcfcfc;
    border-left: 1px solid #ddd;
}

@media only screen and (max-width: 992px) {
    .sidebar {
        display: none;
    }
    .mobile-navigator {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 5px;
        border-bottom: 1px dashed #aaaaaa;
    }
}

@media only screen and (min-width: 992px) {
    .mobile-navigator {
        display: none;
    }
}

.sidebar-inner {
    width: 195px;
}

.sidebar.collapsed .sidebar-inner{
    width: 60px;
}

.sidebar.collapsed .nav span {
    display: none;
}

.main-content {
    display: table-cell;
    position: relative; 
    vertical-align: top;
    padding-left: 50px;
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .main-content {
        padding-left: 0;
    }
}

.sidebar-toggle-container {
    direction: ltr;
    text-align: left;
    padding: 10px 3px 3px 18px;
    height: 44px;
}

.sidebar-toggle-container:hover {
    background-color: #eee;
}

.sidebar-toggle {
    background-repeat: no-repeat;
    width: 100%;
    height: 44px;
    display: block;
}

.sidebar a {
    color: blue;
}

.sidebar a:hover {
    color: #fff;
}

.sidebar .nav > li > a{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus, .sidebar .nav > li.active > a {
    background-color: #009ae4;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    border-left: 1px solid #666;
    color: #fff;
    background: rgb(0,154,228); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,154,228,1) 0%, rgba(65,176,224,1) 47%, rgba(0,154,228,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,154,228,1)), color-stop(47%,rgba(65,176,224,1)), color-stop(100%,rgba(0,154,228,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,154,228,1) 0%,rgba(65,176,224,1) 47%,rgba(0,154,228,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,154,228,1) 0%,rgba(65,176,224,1) 47%,rgba(0,154,228,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,154,228,1) 0%,rgba(65,176,224,1) 47%,rgba(0,154,228,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,154,228,1) 0%,rgba(65,176,224,1) 47%,rgba(0,154,228,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ae4', endColorstr='#009ae4',GradientType=0 ); /* IE6-9 */
}

.pill-container {
    text-align: center;
}

.pill-container a {
    color: #00f;
}

.pill-container a:hover {
    color: #f00;
}

.pill {
    webkit-box-shadow: inset 0px 1px 0px 0px #fff;
    box-shadow: inset 0px 1px 0px 0px #fff;
    line-height: 18px;
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#ededed 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%,#ededed 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%,#ededed 100%);
    background: linear-gradient(top, #f9f9f9 0%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=0 );
    border: 1px solid #c6c6c6;
    display: inline-block;
    margin: 25px 10px 0 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 0 10px;
}

.pill:hover {
    border: 1px solid #afafaf;
}

.pill .icon, .quick-launch .icon{
    margin-left: 12px;
    float: right;
    border-left: 1px solid #c6c6c6;
    -webkit-box-shadow: -1px 0 0 0 #fff;
    -moz-box-shadow: -1px 0 0 0 #fff;
    box-shadow: -1px 0 0 0 #fff;
    padding: 15px 4px 6px 14px;
    width: 50px;
    height: 62px;
    background-repeat: no-repeat;
    background-position: 14px 12px;
}

.pill .icon img, .quick-launch .icon .img {
    width: 32px;
    height: 32px;
    margin-top: 2px;
}

.smallpill .pill
{
	margin: 10px 10px 0 10px;
}

.smallpill .pill .text 
{
	line-height: 34px;
}

.smallpill .pill .icon
{
	height: 52px;
	padding: 10px 4px 6px 14px;
}

.quick-launch {
    height: 64px;
    border-bottom: 1px dashed #999;
    padding-top: 3px;
}

.quick-launch:last-child {
    border-bottom: none;
}

.quick-launch .text {
    line-height: 60px;
}

.pill .text {
    text-align: right;
    width: 158px;
    font-size: 12px;
    float: right;
    padding: 9px 0 7px 10px;
    text-shadow: 1px 1px 0 #fff;
    line-height: 45px;
}

.pill .text strong {
    font-size: 16px;
    display: block;
}


/* Floating menu */
.floating .pill {
    line-height: 12px;
    padding: 0;
    margin-top: 20px;
}

.floating .pill .icon {
    width: 32px;
    height: 32px;
    background-position: center center;
    -ms-background-size: 50%;
    background-size: 50%;
}

.floating .pill .icon img {
    width: 16px;
    height: 16px;
}

.floating .pill .text {
    font-size: 12px;
    padding: 6px 0 7px 4px;
    -ms-text-shadow: 1px 1px 0 #fff;
    text-shadow: 1px 1px 0 #fff;
    line-height: 16px;
}

/* End Floating menu*/

.page-title {
    font-family: "peyvand","BYekan";
    padding-bottom: 5px;
    border-bottom: 1px dashed #ddd;
}
h2.page-title {
 font-size:20px;   
}
.sub-system {
    background-repeat: no-repeat;
    min-height: 512px;
    background-position: center center;
    -ms-background-size: contain;
    background-size: contain;
}

.welcomemenu {
    background-repeat: no-repeat;
    min-height: 512px;
    background-position: center center;
    -ms-background-size: contain;
    background-size: contain;
}

.sub-system.system-settings {
    background-image: url(../img/bg/system-opaque.png);
}

.sub-system.system-admin {
    background-image: url(../img/bg/admin-opaque.png);
}

.sub-system.system-sys {
    background-image: url(../img/bg/admin-opaque.png);
}

.sub-system.system-accounting {
    background-image: url(../img/bg/abacus-opaque.png);
}

.sub-system.system-sales {
    background-image: url(../img/bg/sales-opaque.png);
}

.sub-system.system-bank {
    background-image: url(../img/bg/bank-opaque.png);
}

.sub-system.system-report {
    background-image: url(../img/bg/report-opaque.png);
}

.sub-system.system-store {
    background-image: url(../img/bg/store-opaque.png);
}

.sub-system.system-storeforms {
    background-image: url(../img/bg/transfer-opaque.png);
}

.sub-system.system-distribution {
    background-image: url(../img/bg/distribute-opaque.png);
}

.sub-system.system-salary {
    background-image: url(../img/bg/salary-opaque.png);
}

.sub-system.system-visitor {
    background-image: url(../img/bg/visitor-opaque.png);
}

.welcomemenu.system-welcome {
    background-image: url(../img/bg/welcome-opaque.png);
}

/* Other styles */
.floating .pill-container {
    width: 100%!important;
}

.breadcrumb-seperator {
    background-image: url(../img/breadcrumb.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center 8px;
}

.breadcrumb-seperator img {
    width: 16px;
    height: 16px;
}

.filter-container {
    float: left;
    width: 50%;
    margin: 0 auto; 
}

.filter-container .popup-options-icon-filters {
    margin-left: 0;
    margin-right: 12px;
}

/* Icon classes */
.icon-16 {
    display: inline-block;
    vertical-align: middle;
}

.icon-16:before {
    content: "";
    width: 16px;
    height: 16px;
    float: right;
    margin: 0 6px 0 0;
    cursor: pointer;
}

.icon-filter {
    background-image: url(../img/icons/filter.png);
}

.icon-print:before{
    background-image: url(../img/icons/print.png);
}


/* Dummy classes */

.line-height-100 {
    line-height: 100%;
}

.text-filter-container {
    display: inline-block;
    margin-right: 30px;
}

.row-cell {
    width: 50px!important;
    text-align: center!important;
}
.row-cell-big {
    width: 120px!important;
    text-align: right!important;
}

.action-cell {
    width: 55px!important;
    text-align: center!important;
}

.align-center {
    text-align: center !important;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.date-cell {
    width: 90px!important;
    text-align: center!important;
}
.task-cell{
    width: 90px !important;
    text-align: center!important;
}
.color-cell {
    width: 70px !important;
    text-align: center !important;
}

.yekan-family {
    font-family: "peyvand","BYekan";
}
.left-aligned-label {
    text-align: left!important;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    font-size: 11px;
}

.left-aligned-label:after {
    content: ":";
    display: inline-block;
}

.left-aligned-label.no-trailer:after {
    content: "" !important;
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .left-aligned-label {
        text-align: right !important;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 0;
        margin-top: 5px;
        white-space: nowrap;
    }
}

@media only screen and (min-width: 768px) {
    .left-aligned-label.tight {
        padding-right: 0;
    }
}

.compact-form {
    /*min-width: 1200px;*/
}

.compact-form .form-group .col-xs-8, .compact-form .form-group .col-xs-9 {
    padding-right: 0;
    padding-left: 0;
}

.compact-form textarea, textarea.form-control {
    font-size: 11px;
}

.required_field {
    padding-left: 15px;
}

.colored tr.th td {
    padding: 5px;
}

.col-without-padding {
    padding-right: 0;
    padding-left: 0;
}

@media only screen and (min-width: 768px) {
    .form-col-without-padding {
        padding-right: 0;
        padding-left: 0;
    }
}

.small-group-button {
    font-size: 11px;
    padding: 2px;
}

.no-border-radius {
    -ms-border-radius: 0!important;
    border-radius: 0!important;
}

.button-holder {
    text-align: left;
    padding-left: 0;
}

@media only screen and (max-width: 768px) {
    .button-holder {
        padding-left: 15px;
    }
}

.row-insert-container {
    border: 1px dashed #999;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

/* dateSelect (with capital S) is the one you should use. dateselect (with small s) is for compatiblity. */
.dateSelect, .dateselect {
    background-image: url(../img/icons/calendar.png);
    background-repeat: no-repeat;
    background-position: 5px;
}

.program-box {
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-color: #efefef;
}

.table-very-compact > thead > tr > th,
.table-very-compact > tbody > tr > th,
.table-very-compact > tfoot > tr > th,
.table-very-compact > thead > tr > td,
.table-very-compact > tbody > tr > td,
.table-very-compact > tfoot > tr > td {
    padding: 2px 5px;
}


.scrolling {
    overflow-y: scroll;
    max-height: 550px;
}

select.form-control {
    padding-top: 2px;
}

.form-group .form-control {
    width: 100%!important;
}

.btn {
    z-index: 2;
}

/* Dark */
.btn-dark {
    color: #ffffff;
    background-color: #3e3f3a;
    border-color: transparent;
}
.btn-dark:hover {
    color: #ffffff;
    background-color: #393a35;
    border-color: transparent;
}

/* Dark blue */
.btn-dark-blue {
    color: #ffffff;
    background-color: #325d88;
    border-color: transparent;
}
.btn-dark-blue:hover {
    color: #ffffff;
    background-color: #244363;
    border-color: transparent;
}

/* Grey */
.btn-grey {
    color: #ffffff;
    background-color: #aea79f;
    border-color: #aea79f;
}
.btn-grey:hover {
    color: #ffffff;
    background-color: #978e83;
    border-color: #92897e;
}

/* Dark grey */
.btn-dark-grey {
    color: #ffffff;
    background-color: #7d746a;
    border-color: #7d746a;
}
.btn-dark-grey:hover {
  color: #ffffff;
  background-color: #625b52;
  border-color: #5c564e;
}

/* Purple */
.btn-purple {
    color: #ffffff;
    background-color: #772953;
    border-color: #772953;
}
.btn-purple:hover {
    color: #ffffff;
    background-color: #511c39;
    border-color: #491933;
}

.dashed {
    border-top: 1px dashed #bbbbbb;
}

.dashed-bottom {
    border-bottom: 1px dashed #bbbbbb;
}

.chosen-select {}

select {
    height: 2.2em;
    width: 100%;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.tag {
    border: 1px solid #999;
    margin-left: 5px;
    border-radius: 3px;
    display: inline-block;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-bottom: 5px;
}

.tag:last-child {
    margin-bottom: 0;
}

.tag:hover {
    -webkit-box-shadow: 0 0 2px red;
    -ms-box-shadow: 0 0 2px red;
    box-shadow: 0 0 2px red;
}

.tag .tag-name {
    white-space: nowrap;
    color: #444;
    padding: 3px 10px;
    border-left: 1px solid #bbb;
    display: inline-block;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tag .tag-count {
    color: #777;
    padding: 3px 10px;
    display: inline-block;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}


.breadcrumb.dashed {
    border: 1px dashed #bbb;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.catalog-item {
    border: 1px solid #cccccc;
    -ms-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.catalog-item .carousel {
    width: 250px;
    height: 200px;
    margin: 0 auto;
}

.catalog-item .thumbnail {
    margin: 0 auto 20px auto;
}

.catalog-item .title {
    font-weight: normal;
    color: #222222;
    font-size: 1.5em;
    min-height: 3.5em;
}


.stock-indicator {
    width: 120px;
    background-image: url(../img/stock-indicator.png);
    background-repeat: no-repeat;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.stock-indicator.empty {
    background-position: 0 0;
}

.stock-indicator.medium {
    background-position: 0 -24px;
}

.stock-indicator.full {
    background-position: 0 -48px;
}

/* Growl system */
.growl-container {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 10000;
}

.growl {
    width: 300px;
}

.growl.growl-notice {
    color: #FFF;
    background: #2ECC71;
}

.growl.growl-error {
    color: #FFF;
    background: #C0392B;
}

.growl.growl-warning {
    color: #FFF;
    background: #F39C12;
}


@media only screen and (max-width: 768px) {
    .block-xs {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 970px) {
    .program-box {
        display: block;
        width: 100%;
        margin-left: 0;
    }
}

.form-group-container {
    margin-bottom: 5px;
}


/* My own grid implementation! */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .col-one {
        width: 15.7%;
    }
    .col-eleven {
        width: 84.3%;
    }

    .col-two {
        width: 33.33333333%;
    }
    .col-ten {
        width: 66.66666667%;
    }

    .col-one-sixth {
        width: 33.33333333%;
    }
    .col-five-sixth {
        width: 66.66666667%;
    }

    .col-one-fourth {
        width: 16.8%;
    }
    .col-three-fourth {
        width: 83.2%;
    }

    .col-one-sixth-aligned {
        width: 33.33333333%;
    }
    .col-three-sixth-aligned {
        width: 50%;
    }
    .col-five-sixth-aligned {
        width: 66.66666667%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .col-one {
        width: 10.5%;
    }
    .col-eleven {
        width: 89.5%;
    }

    .col-two {
        width: 21%;
    }
    .col-ten {
        width: 79%;
    }

    .col-one-sixth {
        width: 22.2%;
    }
    .col-five-sixth {
        width: 77.8%;
    }

    .col-one-fourth {
        width: 11.4%;
    }
    .col-three-fourth {
        width: 88.6%;
    }

    .col-one-sixth-aligned {
        width: 21.8%;
    }
    .col-three-sixth-aligned {
        width: 50%;
    }
    .col-five-sixth-aligned {
        width: 78.2%;
    }
}

@media only screen and (min-width: 1201px) {
    .col-one {
        width: 7.6%;
    }
    .col-eleven {
        width: 92.4%;
    }

    .col-two {
        width: 15.7%;
    }
    .col-ten {
        width: 84.3%;
    }

    .col-without-padding .col-one {
        width: 8.3%;
    }

    .col-without-padding .col-eleven {
        width: 91.7%;
    }

    .col-one-sixth {
        width: 22.2%;
    }
    .col-five-sixth {
        width: 77.8%;
    }

    .col-one-fourth {
        width: 11.1%;
    }
    .col-three-fourth {
        width: 88.9%;
    }

    .col-one-sixth-aligned {
        width: 16%;
    }
    .col-three-sixth-aligned {
        width: 50%;
    }
    .col-five-sixth-aligned {
        width: 84%;
    }

    .col-lg-one-sixth {
        width: 15.9%;
    }

    .col-lg-five-sixth {
        width: 84.1%;
    }
    .col-lg-one-ninth-to-x-third {
        width: 27.4%;
    }
    .col-lg-eight-ninth-to-x-third {
        width: 72.6%;
    }
}

.no-border {
    border: none !important;
}

.no-left-border {
    border-left: none !important;
}

.no-right-border {
    border-right: none !important;
}

.no-top-border {
    border-top: none !important;
}

.no-bottom-border {
    border-bottom: none !important;
}

.btn-remove {
    padding-top: 3px;
    padding-bottom: 4px;
}

hr.tiny {
    margin-top: 5px;
    margin-bottom: 5px;
}

hr.small {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr.medium {
    margin-top: 15px;
    margin-bottom: 15px;
}

::-webkit-input-placeholder {
    font-style: italic !important;
    color: #999999 !important;
    padding-right: 2px;
}

:-moz-placeholder { /* Firefox 18- */
    font-style: italic !important;
    color: #999999 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic !important;
    color: #999999 !important;
}

:-ms-input-placeholder {
    font-style: italic !important;
    color: #999999 !important;
}

.image-list {
    max-height: 540px;
    min-height: 280px;
    overflow-y: scroll;
}

.empty-data-container {
    width: 98%;
}

tr.empty-row {
    color: #31708f!important;
    background-color: #d9edf7!important;
    border-color: #bce8f1!important;
}

tr.empty-row:hover {   
    background-color: #d9edf7!important;
}

tr.empty-row td {
    padding: 15px;
    text-align: center;
}
.full-width {
    width: 100% !important;
}

.fake-button {
    cursor: pointer;
}
.display-none {
    display: none;
}

.scroll-y {
    overflow-y: scroll;
}

.scroll-x {
    overflow-x: scroll;
}

.small-page-title {
    font-family: "peyvand","byekan";
    font-size: 14px;
}


/* Awesome popup */

.awesome-popup {
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #61799D;
    background-color: #ffffff;
    padding: 0;
    width: 250px;
    text-align: right;
}

.awesome-popup-inner {
    padding: 10px;
}

.awesome-popup-title {
    padding: 10px 5px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #999999;
    cursor: move;
    font-family: "peyvand","byekan";
    font-size: 18px;
    color: #ffffff;
    background-image: url(../img/popup-title.png);
    background-repeat: repeat-x;
}

select[name=rp] {
    height: 2em;
    margin-top: 0.2em;
}

.switch {
    font-size: 18px !important;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .pull-left-sm {
        float: left !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .pull-left-md {
        float: left !important;
    }
}

@media only screen and (min-width: 1200px) {
    .pull-left-lg {
        float: left !important;
    }
}

ul.main-menu li a.dropdown-toggle {
    font-size: 11px;
}
ul.main-menu li ul.dropdown-menu a {
    padding-right: 10px;
    font-size: 13px;
}
ul.main-menu li ul.dropdown-menu li a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    right:100%;
    margin-top: 0;
    margin-right: 0;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float: left;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 5px 5px 0;
    border-right-color:#cccccc;
    margin-top:5px;
    margin-left:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.megamenu.caret-top-left {
    background-color: #FAFAFA;
    border-radius: 5px;
}
.caret-top-left:before {
    content: '';
    display: block;
    position: absolute!important;
    top: -20px;
    left: 10px;
    border-style: solid;
    border-color: transparent transparent #FAFAFA transparent;
    border-width: 10px 10px;
}
.inline-block {
    display: inline-block;
}

.options-menu {
    margin: 0;
    width: 100%;
    margin-bottom: 5px !important;
}

.options-menu li {
    padding: 5px 10px;
}
.options-menu li a {
    display: block;
    color: #333333;
}
.options-menu li:hover {
    background-color: #dedede;
}
.fileupload {
    border: 1px dashed #bbbbbb;
    padding: 4px;
    width: 100%;
    border-radius: 5px;
}

.label-30 {
    line-height: 30px;
}

.block {
    display: block;
}

.version-info {
    direction: ltr;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}
.color {
    background-image: url(../img/icons/palette.png);
    background-repeat: no-repeat;
    background-position: 5px;
}
td.row-cell div, td.row-cell-big div {
    display: inline-block;
}

.selectable-table tr {
    cursor: pointer;
}
.compact-panel .panel-heading {
    padding: 5px !important;
}

.ac_results ul li {
    font-family: "peyvand",Tahoma;
}

.well.callout {
    border: 1px solid #b6edff;
    background: #ecfaff;
    color: #333333;
}
.autocomplete-item {
    min-width: 700px;
    min-height: 20px;
}

.autocomplete-item .name {
    width: 40%;
    font-family: "peyvand","BYekan";
    display: inline-block;
    float: right;
}

.autocomplete-item .details {
    width: 60%;
    text-align: left;
    display: inline-block;
}

.autocomplete-item .details .detail {
    font-size: 90%;
    margin-right: 5px;
    font-weight: normal !important;
}

span.margin-0 label {
    margin: 0;
}

.input-group-left {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none;
}

.input-group-right {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
#members div {
    padding: 3px 5px;
}
#members div:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#members div:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.form-control.formula {
    background-color: #99CF7E !important;
}
#filterDiv select {
    width: 128px;
}

/* Query builder styles */
.builder .btn-group > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 3px;
}

.builder .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
}

.builder .btn-group > .btn,
.builder .btn-group-vertical > .btn {
    float: left;
}

.builder .btn-group .btn + .btn,
.builder .btn-group .btn + .btn-group,
.builder .btn-group .btn-group + .btn,
.builder .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}
.builder .form-inline label {
    padding-right: 5px;
}

.refresh {
    background-image: url(../img/refresh.png);
    width: 29px;
    
}
.logo2 {
    border-radius: 131px;
    opacity: 0.5;
}
