﻿$i: 10;

@while $i <= 1000 {
    .width-#{$i} { width: 1px * $i!important; }
	.min-width-#{$i} { min-width: 1px * $i!important; }
	.max-width-#{$i} { max-width: 1px * $i!important; }
	.max-height-#{$i} { max-height: 1px * $i!important; }
    $i: $i + 10;
}

$i: 0;
@while $i <= 100 {
    .width-#{$i}-percent {width: #{$i}%!important};
	$i: $i + 1;
}