﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TaxSummary.aspx.cs" Inherits="app_print_TaxSummary_TaxSummary" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    
</body>
</html>
